{% load static %}
{% load humanize %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

  <!-- ===============================================-->
  <!--    Errores de Sistema (Backend)-->
  <!-- ===============================================-->

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning border-2 d-flex align-items-center" role="alert">
    <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
    <p class="mb-0 flex-1">{{ message }}</p>
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  <!-- ===============================================-->
  <!--    Fin Errores de Sistema (Backend)-->
  <!-- ===============================================-->


  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <!-- Titulo del formulario wizard -->
    <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
          class="fa-inverse fa-stack-1x text-primary fas fa-cash-register"></i></span>
      <div class="col">
        <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Producto</span><span
            class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
        <p class="mb-0">Aqui puede vizualizar un brando</p>
      </div>
    </div>
  </div>


  <!-- ===============================================-->
  <!--    Card con la presentacion de la caja-->
  <!-- ===============================================-->

  {% if brand %}
  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <!--Card-->
    <div class="card bg-transparent-50 overflow-hidden">
      <div class="card-header position-relative">
        <div class="bg-holder d-none d-md-block bg-card z-index-1"
          style="background-image:url(../assets/img/illustrations/ecommerce-bg.png);background-size:230px;background-position:right bottom;z-index:-1;">
        </div>
        <!--/.bg-holder-->

        <div class="position-relative z-index-2">
          <div>
            <p class="fs--2 mb-0">{{brand.name}} </p>
            <p class="fs--2 mb-0">{{brand.user_made}} </p>
            {% if products  %}
                <p>Productos que usan esta marca:</p>
                {%for product in products%}
                <p class="fs--2 mb-0">{{product}} </p>
                {% endfor %}
            {% else %}
                
                <p>No hay productos relacionados con esta marca</p>
            {% endif %}

          </div>

          

        </div>
      </div>
      <div class="card-body">
        <div class="d-flex pb-3 justify-content-between align-items-center">
          <div class="lottie me-3" data-options=''>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group " role="group" aria-label="Botones">
          <a class="btn btn-primary d-block w-25 mx-5 mt-4 rounded" href="{% url 'products_app:update_brand' pk=brand.pk %}" >Editar</a>
          <a class="btn btn-success d-block w-25 mx-5 mt-4 rounded" href="{% url 'products_app:new_brand' %}">Nueva Marca</a>
          <a class="btn btn-danger d-block w-25 mx-5 mt-4 rounded" href="{% url 'products_app:brand_delete' pk=brand.pk %}" >Eliminar</a>

        </div>
      </div>
    </div>
  </div>

  {% else %}
  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <!--Card-->
    <div class="card bg-transparent-50 overflow-hidden">
      <div class="card-header position-relative">
        <div class="bg-holder d-none d-md-block bg-card z-index-1"
          style="background-image:url(../assets/img/illustrations/ecommerce-bg.png);background-size:230px;background-position:right bottom;z-index:-1;">
        </div>
        <!--/.bg-holder-->

        <div class="position-relative z-index-2">
          <div>
            <h3 class="text-primary mb-1">No hay una marca</h3>
          </div>
          <div class="d-flex py-3">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success d-block w-25 mx-5 mt-4 rounded" href="{% url 'products_app:new_brand' %}">Nueva marca</a>
      </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- ===============================================-->
<!--   Fin Card con la presentacion de la caja-->
<!-- ===============================================-->

</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->
