{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}

{% endblock extra_css %}

{% block main %}

<div class="container py-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning border-2 d-flex align-items-center" role="alert">
        <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
        <p class="mb-0 flex-1">{{ message }}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fa-solid fa-building-flag fa-lg"
                    style="color: #000000;"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span
                        class="bg-200 dark__bg-1100 pe-3">Clientes</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aqui se visualizan todos los clientes</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <div class="card theme-wizard h-100 mb-5">
            <div class="card-body py-4" id="wizard-controller">
                {% if customers %}
                <div id="tableCustomer"
                    data-list='{"valueNames":["first_name","last_name","dni","h_insurance"],"page":5,"pagination":true}'>
                    <div class="table-responsive scrollbar">
                        <table class="table table-bordered table-striped fs--1 mb-0">
                            <thead class="bg-200 text-900">
                                <tr>
                                    <th class="sort" data-sort="name">Nombre</th>
                                    <th class="sort" data-sort="address">Apellido</th>
                                    <th class="sort" data-sort="open_hs">Dni</th>
                                    <th class="sort" data-sort="close_hs">Obra Social</th>
                                    <th class="" scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for customer in customers %}
                                <tr class="transition">
                                    <td class="first_name">{{ customer.first_name }}</td>
                                    <td class="last_name">{{ customer.last_name}}</td>
                                    <td class="dni">{{ customer.dni }}</td>
                                    <td class="h_insurance">
                                        <span>
                                            
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <div>
                                            <a href="{% url 'clients_app:detail' pk=customer.pk %}"><button
                                                    class="btn p-0" type="button" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Ver"><span
                                                        class="text-500 far fa-eye"></span></button></a>
                                            <a href="{% url 'clients_app:update_customer' pk=customer.pk %}"><button
                                                    class="btn p-0 ms-2" type="button" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Editar"><span
                                                        class="text-500 fas fa-edit"></span></button></a>
                                            <button class="btn p-0 ms-2" type="button" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Eliminar"><span
                                                    class="text-500 fas fa-trash-alt"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous"
                            data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="pagination mb-0"></ul>
                        <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next"
                            data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
                    </div>
                </div>
                {% else %}
                <div class="text-center py-5">
                    <h3>No hay clientes disponibles</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container py-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning border-2 d-flex align-items-center" role="alert">
        <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
        <p class="mb-0 flex-1">{{ message }}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fa-solid fa-building-flag fa-lg"
                    style="color: #000000;"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span
                        class="bg-200 dark__bg-1100 pe-3">Clientes</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aqui se visualizan todos los clientes</p>
            </div>
        </div>
    </div>
    <div class="card" id="TableCrmRecentLeads"
        data-list='{"valueNames":["name","email","status"],"page":8,"pagination":true}'>
        <div class="card-header d-flex flex-between-center py-2">
            <h6 class="mb-0">Recent Leads</h6>
            <div class="dropdown font-sans-serif btn-reveal-trigger">
                <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal"
                    type="button" id="recent-leads-header-dropdownundefined" data-bs-toggle="dropdown"
                    data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                        class="fas fa-ellipsis-h fs--2"></span></button>
                <div class="dropdown-menu dropdown-menu-end border py-2"
                    aria-labelledby="recent-leads-header-dropdownundefined"><a class="dropdown-item"
                        href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                </div>
            </div>
        </div>
        <div class="card-body px-0 py-0">
            <div class="table-responsive scrollbar">
                <table class="table fs--1 mb-0">
                    <thead class="bg-200 text-800">
                        <tr>
                            <th class="py-3 white-space-nowrap" style="max-width: 30px;">
                                <div class="form-check mb-0 d-flex align-items-center">
                                    <input class="form-check-input" id="checkbox-bulk-leads-select" type="checkbox"
                                        data-bulk-select='{"body":"table-recent-leads-body","actions":"table-recent-leads-actions","replacedElement":"table-recent-leads-replace-element"}' />
                                </div>
                            </th>
                            <th class="sort align-middle" data-sort="name">Name</th>
                            <th class="sort align-middle" data-sort="email">Email and Phone</th>
                            <th class="sort align-middle" data-sort="status">Status</th>
                            <th class="sort align-middle text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="table-recent-leads-body">
                        <tr class="hover-actions-trigger btn-reveal-trigger hover-bg-100">
                            <td class="align-middle" style="max-width: 30px;">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" id="recent-leads-0"
                                        data-bulk-select-row="data-bulk-select-row" />
                                </div>
                            </td>
                            <td class="align-middle white-space-nowrap"><a href="../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="../assets/img/team/1-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0 ps-2 text-800 name">Kerry Ingram</h6>
                                    </div>
                                </a></td>
                            <td class="align-middle white-space-nowrap text-primary email"><a
                                    href="mailto:john@gmail.com">john@gmail.com</a></td>
                            <td class="align-middle white-space-nowrap"><small
                                    class="badge fw-semi-bold rounded-pill status badge-soft-primary"> New Lead</small>
                            </td>
                            <td class="align-middle white-space-nowrap text-end position-relative">
                                <div class="hover-actions bg-100">
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-edit"></span></button>
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-comment"></span></button>
                                </div>
                                <div class="dropdown font-sans-serif btn-reveal-trigger">
                                    <button
                                        class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal-sm transition-none"
                                        type="button" id="crm-recent-leads-0" data-bs-toggle="dropdown"
                                        data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                            class="fas fa-ellipsis-h fs--2"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2"
                                        aria-labelledby="crm-recent-leads-0"><a class="dropdown-item"
                                            href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                            href="#!">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger hover-bg-100">
                            <td class="align-middle" style="max-width: 30px;">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" id="recent-leads-1"
                                        data-bulk-select-row="data-bulk-select-row" />
                                </div>
                            </td>
                            <td class="align-middle white-space-nowrap"><a href="../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="../assets/img/team/2-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0 ps-2 text-800 name">Bradie Knowall</h6>
                                    </div>
                                </a></td>
                            <td class="align-middle white-space-nowrap text-primary email"><a
                                    href="mailto:bradie@mail.ru">bradie@mail.ru</a></td>
                            <td class="align-middle white-space-nowrap"><small
                                    class="badge fw-semi-bold rounded-pill status badge-soft-primary"> New Lead</small>
                            </td>
                            <td class="align-middle white-space-nowrap text-end position-relative">
                                <div class="hover-actions bg-100">
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-edit"></span></button>
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-comment"></span></button>
                                </div>
                                <div class="dropdown font-sans-serif btn-reveal-trigger">
                                    <button
                                        class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal-sm transition-none"
                                        type="button" id="crm-recent-leads-1" data-bs-toggle="dropdown"
                                        data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                            class="fas fa-ellipsis-h fs--2"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2"
                                        aria-labelledby="crm-recent-leads-1"><a class="dropdown-item"
                                            href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                            href="#!">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger hover-bg-100">
                            <td class="align-middle" style="max-width: 30px;">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" id="recent-leads-2"
                                        data-bulk-select-row="data-bulk-select-row" />
                                </div>
                            </td>
                            <td class="align-middle white-space-nowrap"><a href="../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="../assets/img/team/3-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0 ps-2 text-800 name">Jenny Horas</h6>
                                    </div>
                                </a></td>
                            <td class="align-middle white-space-nowrap text-primary email"><a
                                    href="mailto:jenny@mail.ru">jenny@mail.ru</a></td>
                            <td class="align-middle white-space-nowrap"><small
                                    class="badge fw-semi-bold rounded-pill status badge-soft-warning"> Cold Lead</small>
                            </td>
                            <td class="align-middle white-space-nowrap text-end position-relative">
                                <div class="hover-actions bg-100">
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-edit"></span></button>
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-comment"></span></button>
                                </div>
                                <div class="dropdown font-sans-serif btn-reveal-trigger">
                                    <button
                                        class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal-sm transition-none"
                                        type="button" id="crm-recent-leads-2" data-bs-toggle="dropdown"
                                        data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                            class="fas fa-ellipsis-h fs--2"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2"
                                        aria-labelledby="crm-recent-leads-2"><a class="dropdown-item"
                                            href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                            href="#!">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger hover-bg-100">
                            <td class="align-middle" style="max-width: 30px;">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" id="recent-leads-3"
                                        data-bulk-select-row="data-bulk-select-row" />
                                </div>
                            </td>
                            <td class="align-middle white-space-nowrap"><a href="../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="../assets/img/team/4-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0 ps-2 text-800 name">Chris Pratt</h6>
                                    </div>
                                </a></td>
                            <td class="align-middle white-space-nowrap text-primary email"><a
                                    href="mailto:pratt@mail.ru">pratt@mail.ru</a></td>
                            <td class="align-middle white-space-nowrap"><small
                                    class="badge fw-semi-bold rounded-pill status badge-soft-warning"> New Lead</small>
                            </td>
                            <td class="align-middle white-space-nowrap text-end position-relative">
                                <div class="hover-actions bg-100">
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-edit"></span></button>
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-comment"></span></button>
                                </div>
                                <div class="dropdown font-sans-serif btn-reveal-trigger">
                                    <button
                                        class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal-sm transition-none"
                                        type="button" id="crm-recent-leads-3" data-bs-toggle="dropdown"
                                        data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                            class="fas fa-ellipsis-h fs--2"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2"
                                        aria-labelledby="crm-recent-leads-3"><a class="dropdown-item"
                                            href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                            href="#!">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger hover-bg-100">
                            <td class="align-middle" style="max-width: 30px;">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" id="recent-leads-4"
                                        data-bulk-select-row="data-bulk-select-row" />
                                </div>
                            </td>
                            <td class="align-middle white-space-nowrap"><a href="../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="../assets/img/team/5-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0 ps-2 text-800 name">Andy Murray</h6>
                                    </div>
                                </a></td>
                            <td class="align-middle white-space-nowrap text-primary email"><a
                                    href="mailto:andy@gmail.com">andy@gmail.com</a></td>
                            <td class="align-middle white-space-nowrap"><small
                                    class="badge fw-semi-bold rounded-pill status badge-soft-success"> Won Lead</small>
                            </td>
                            <td class="align-middle white-space-nowrap text-end position-relative">
                                <div class="hover-actions bg-100">
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-edit"></span></button>
                                    <button class="btn icon-item rounded-3 me-2 fs--2 icon-item-sm"><span
                                            class="far fa-comment"></span></button>
                                </div>
                                <div class="dropdown font-sans-serif btn-reveal-trigger">
                                    <button
                                        class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal-sm transition-none"
                                        type="button" id="crm-recent-leads-4" data-bs-toggle="dropdown"
                                        data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                            class="fas fa-ellipsis-h fs--2"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2"
                                        aria-labelledby="crm-recent-leads-4"><a class="dropdown-item"
                                            href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                            href="#!">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer bg-light p-0">
            <div class="pagination d-none"></div><a class="btn btn-sm btn-link d-block py-2" href="#!">Show full
                list<span class="fas fa-chevron-right ms-1 fs--2"></span></a>
        </div>
    </div>
</div>



{% endblock main %}

{% block extra_js %}
{% endblock extra_js %}