{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}

{% endblock extra_css %}

{% block main %}

<div class="container py-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning border-2 d-flex align-items-center" role="alert">
        <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
        <p class="mb-0 flex-1">{{ message }}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fa-solid fa-building-flag fa-lg"
                    style="color: #000000;"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span
                        class="bg-200 dark__bg-1100 pe-3">Cliente</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Nuevo Cliente</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <div class="card theme-wizard h-100 mb-5">
            <div class="card-body" id="wizard-controller">
                <div class="tab-content">
                    <div class="tab-pane active px-sm-3 px-md-5" role="tabpanel"
                        aria-labelledby="bootstrap-wizard-validation-tab1" id="bootstrap-wizard-validation-tab1">
                        <form method="post" class="row g-3 needs-validation align-items-center" novalidate="">
                            {% csrf_token %}
                            <div class="row justify-content-sm-center py-2">
                                <div class="col">
                                    <label class="form-label" for="id_first_name">Nombre</label>
                                    {{ form.first_name }}
                                    <div class="valid-feedback">Perfecto!</div>
                                    <div class="invalid-feedback">Ingrese solo letras del alfabeto.</div>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="id_last_name">Apellido</label>
                                    {{ form.last_name }}
                                    <div class="valid-feedback">Perfecto!</div>
                                    <div class="invalid-feedback">Ingrese solo letras del alfabeto.</div>
                                </div>
                            </div>
                            <div class="row justify-content-sm-center py-2">
                                <div class="col">
                                    <label class="form-label" for="id_phone_number">Telefono</label>
                                    {{ form.phone_number }}
                                    <div class="valid-feedback">Perfecto!</div>
                                    <div class="invalid-feedback">Ingrese solo números.</div>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <label class="form-label" for="id_dni">DNI</label>
                                        {{ form.dni }}
                                        <div class="valid-feedback">Perfecto!</div>
                                        <div class="invalid-feedback">Ingrese solo números.</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <label class="form-label" for="id_birth_date">Fecha De Nacimiento</label>
                                        {{ form.birth_date }}
                                        <div class="valid-feedback">Perfecto!</div>
                                        <div class="invalid-feedback">Ingrese una fecha válida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-sm-center py-2">
                                <div class="col">
                                    <div class="col">
                                        <label class="form-label" for="id_address">Direccion</label>
                                        {{ form.address }}
                                        <div class="valid-feedback">Perfecto!</div>
                                        <div class="invalid-feedback">Ingrese una direccion válida</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <label class="form-label" for="id_email">Correo Electronico</label>
                                        {{ form.email }}
                                        <div class="valid-feedback">Perfecto!</div>
                                        <div class="invalid-feedback">Ingrese un email válido. Ej: email@company.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-sm-center my-2">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <label for="id_h_insurance" class="form-label col-auto">
                                            <span>Obra Social</span>
                                            <a href="{% url 'clients_app:hi_new' %}">
                                                <button class="btn" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Cargar una Obra Social">
                                                    <span class="text-1000 far fa-plus-square"></span>
                                                </button>
                                            </a>
                                        </label>
                                    </div>
                                
                                    <div class="mb-3">
                                        {% for checkbox in form.h_insurance %}
                                            <div class="form-check form-check-inline">
                                                {{ checkbox }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if form.h_insurence.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {% for error in form.h_insurence.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="mt-2">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary" name="submit">Añadir
                                            Cliente</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="row justify-content-sm-center my-2">
    <div class="col">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Se encontraron errores:</h4>
            <ul>
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endblock main %}

{% block extra_js %}
{% endblock extra_js %}