{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}

{% endblock extra_css %}

{% block main %}

<div class="container py-4">
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fa-solid fa-building-flag fa-lg"
                    style="color: #000000;"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span
                        class="bg-200 dark__bg-1100 pe-3">Cliente</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Nuevo Cliente</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <div class="card theme-wizard h-100 mb-5">
            <div class="card-body" id="wizard-controller">
                <div class="tab-content">
                    <div class="tab-pane active px-sm-3 px-md-5" role="tabpanel"
                        aria-labelledby="bootstrap-wizard-validation-tab1" id="bootstrap-wizard-validation-tab1">
                        <form method="post" class="row g-3 needs-validation align-items-center" novalidate="">
                            {% csrf_token %}
                            <div class="row justify-content-sm-center py-2">
                                <div class="col">
                                    <label class="form-label" for="id_first_name">Nombre</label>
                                    {{ form.first_name }}
                                    <div class="valid-feedback">Perfecto!</div>
                                    <div class="invalid-feedback">Ingrese solo letras del alfabeto.</div>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="id_last_name">Apellido</label>
                                    {{ form.last_name }}
                                    <div class="valid-feedback">Perfecto!</div>
                                    <div class="invalid-feedback">Ingrese solo letras del alfabeto.</div>
                                </div>
                            </div>
                            <div class="row justify-content-sm-center py-2">
                                <div class="col">
                                    <label class="form-label" for="id_phone_number">Telefono</label>
                                    {{ form.phone_number }}
                                    <div class="valid-feedback">Perfecto!</div>
                                    <div class="invalid-feedback">Ingrese solo números.</div>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <label class="form-label" for="id_dni">DNI</label>
                                        {{ form.dni }}
                                        <div class="valid-feedback">Perfecto!</div>
                                        <div class="invalid-feedback">Ingrese solo números.</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <label class="form-label" for="id_birth_date">Fecha De Nacimiento</label>
                                        {{ form.birth_date }}
                                        <div class="valid-feedback">Perfecto!</div>
                                        <div class="invalid-feedback">Ingrese una fecha válida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-sm-center py-2">
                                <div class="col">
                                    <div class="col">
                                        <label class="form-label" for="id_address">Direccion</label>
                                        {{ form.address }}
                                        <div class="valid-feedback">Perfecto!</div>
                                        <div class="invalid-feedback">Ingrese una direccion válida</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <label class="form-label" for="id_email">Correo Electronico</label>
                                        {{ form.email }}
                                        <div class="valid-feedback">Perfecto!</div>
                                        <div class="invalid-feedback">Ingrese un email válido. Ej: email@company.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-sm-center my-2">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <label for="id_h_insurance" class="form-label col-auto">
                                            <span>Obra Social</span>
                                            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#HI-modal"
                                                title="Cargar una Obra Social">
                                                <span class="text-1000 far fa-plus-square"></span>
                                            </button>
                                        </label>
                                    </div>
                                
                                    <div class="mb-3" id="checkboxes_form">
                                        {% for checkbox in form.h_insurance %}
                                            <div class="form-check form-check-inline">
                                                {{ checkbox }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if form.h_insurence.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {% for error in form.h_insurence.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="mt-2">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary" name="submit">Añadir
                                            Cliente</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Modal -->
                        <div class="modal fade" id="HI-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Aquí puedes poner tu formulario -->
                                    <form method="post" id="HI-form">
                                        <div id="form-to-new-checks">

                                            {% csrf_token %}
                                            {{h_insurance.as_p}}
                                            <button type="button" class="btn btn-primary" id="save-hi">Enviar</button>
                                        </div>
                                    </form>
                                    <!-- Fin del formulario -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <!-- Agrega aquí el botón para enviar el formulario si es necesario -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="row justify-content-sm-center my-2">
    <div class="col">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Se encontraron errores:</h4>
            <ul>
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endblock main %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    
    function closeModal() {
        $('#HI-modal').modal('hide');
    }
    // Manejar la creación de un nuevo Tipo de Características
    document.getElementById("save-hi").addEventListener("click", function() {
        var formData = new FormData(document.getElementById("HI-form"));

        var checkboxes = document.querySelectorAll('[id^="id_h_insurance_"]');
        var countchecks = checkboxes.length;

        $.ajax({
            url: `/customers/health_insurance/new/`,
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                if (data.status === 'success') {
                    var div_checksbox = document.createElement('div');
                    var newLabel = document.createElement('label');
                    var newCheckbox = document.createElement("input");
                    newCheckbox.type = "checkbox";
                    newCheckbox.name = "h_insurance"; // Asegúrate de asignar el nombre correcto
                    newCheckbox.value = data.new_insurance.id;
                    newCheckbox.className = "form-check-input";
                    newCheckbox.id = "id_h_insurance_" + countchecks; // Un ID único para cada checkbox
                    newCheckbox.checked = true; // Define si está marcado o no
                    
                    newLabel.htmlFor = newCheckbox.id;
                    newLabel.textContent = data.new_insurance.name; // Usa textContent para establecer el contenido del label
                    div_checksbox.classList = "form-check form-check-inline";
                    newLabel.appendChild(newCheckbox);
                    div_checksbox.appendChild(newLabel);

                    var checkboxes_form = document.getElementById('checkboxes_form');
                    checkboxes_form.appendChild(div_checksbox);

                    closeModal(); 

                } else {
                    var errorField = document.getElementById("form-to-new-checks"); // Reemplaza "id_name" con el ID de tu campo
                    var errorMessage = document.createElement("div");
                    errorMessage.className = "text-danger text-center";
                    errorMessage.style.fontSize = "0.8rem";
                    errorMessage.style.fontStyle = "italic"; // Estilo en cursiva
                    errorMessage.textContent = "Hubo un error en la carga, porfavor verifique los datos ingresados.";
                
                    // Resaltar el campo en rojo
                    errorField.style.borderColor = "red";
                
                    // Agregar el mensaje de error debajo del campo
                    errorField.parentNode.appendChild(errorMessage);
                }
                
            }
        });
    });
});

</script>
{% endblock extra_js %}