{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}

{% endblock extra_css %}

{% block main %}

<div class="container py-4">
    {% include 'core/components/messages.html' %}
    
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
            class="fa-inverse fa-stack-1x text-primary fas fa-eye"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Obras
                        Sociales</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                        <p class="mb-0">Aqui se visualizan las obras sociales</p>
            </div>
        </div>
    </div>
    {% if h_insurances %}
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <div class="card z-index-1 mb-3" id="recentPurchaseTable"
            data-list='{"valueNames":["user_made","first_name","last_name","dni","address","phone_number","email"],"page":25,"pagination":true}'">
            <div class=" card-header">
            <div class="row justify-content-start">
            </div>
            <div class="row flex-between-center">
                <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                    <div>
                        <form>
                            <div class="input-group">
                                <input class="form-control form-control-sm shadow-none search" type="search"
                                    placeholder="Buscar" aria-label="search" />
                                <div class="input-group-text bg-transparent"><span
                                        class="fa fa-search fs--1 text-600"></span></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                    <div class="d-none" id="table-purchases-actions">
                        <div class="d-flex">
                            <select class="form-select form-select-sm" aria-label="Bulk actions">
                                <option selected="">Accion masiva</option>
                                <option value="Delete">Borrar</option>
                            </select>
                            <button class="btn btn-falcon-default btn-sm ms-2" type="button">Aplicar</button>
                        </div>
                    </div>
                    <div id="table-purchases-replace-element">
                        {% if request.user.is_staff %}
                        <a href="{% url 'clients_app:hi_new' %}" class="btn btn-falcon-default btn-sm me-1"
                            type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span
                                class="d-none d-sm-inline-block ms-1">Nueva Obra Social</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body px-0 py-0">
            <div class="table-responsive scrollbar">
                <table class="table table-sm fs--1 mb-0 overflow-hidden ">
                    <thead class="bg-200 text-900">
                        <tr>
                            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="user_made">Por
                            </th>
                            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="first_name">Nombre
                            </th>
                            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="last_name">CUIT
                            </th>
                            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="dni">Telefono
                            </th>
                            <th class="no-sort pe-1 align-middle data-table-row-action"> Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="table-purchase-body">
                        {% for h_insurance in h_insurances %}
                        <tr class="btn-reveal-trigger">
                            <th class="align-middle white-space-nowrap name">{{ h_insurance.user_made }}</th>
                            <th class="align-middle white-space-nowrap name">{{ h_insurance.name }}</th>
                            <td class="align-middle white-space-nowrap cuit">{{ h_insurance.cuit }}</td>
                            <td class="align-middle white-space-nowrap phone">
                                <span>
                                    <a href="https://wa.me/+54{{h_insurance.phone_number}}">
                                        +54{{h_insurance.phone_number}}
                                    </a>
                                </span>
                            </td>
                            <td class="align-middle white-space-nowrap acciones">
                                <div class="dropstart font-sans-serif position-static d-inline-block">
                                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end"
                                        type="button" id="dropdown0" data-bs-toggle="dropdown" data-boundary="window"
                                        aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                        <span class="fas fa-ellipsis-h fs--1"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2"
                                        aria-labelledby="dropdown0">
                                        <a class="dropdown-item"
                                            href="{% url 'clients_app:hi_detail' h_insurance.pk %}">Detalle</a>
                                            {% if request.user.is_staff %}
                                            <a class="dropdown-item"
                                            href="{% url 'clients_app:insurance_update' h_insurance.pk %}">Editar</a>
                                        <a class=" dropdown-item text-danger"
                                            href="{% url 'clients_app:hi_delete' h_insurance.pk %}">Eliminar</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row align-items-center">
                <div class="pagination d-none"></div>
                <div class="col">
                </div>
                <div class="col-auto d-flex">
                    <button class="btn btn-sm btn-primary" type="button"
                        data-list-pagination="prev"><span>Anterior</span></button>
                    <button class="btn btn-sm btn-primary px-4 ms-2" type="button"
                        data-list-pagination="next"><span>Siguiente</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <!--Card-->
    <div class="card bg-transparent-50 overflow-hidden">
        <div class="card-header position-relative">
            <div class="bg-holder d-none d-md-block bg-card z-index-1"
                style="background-image:url(../assets/img/illustrations/ecommerce-bg.png);background-size:230px;background-position:right bottom;z-index:-1;">
            </div>
            <!--/.bg-holder-->
            <div class="position-relative z-index-2">
                <div>
                    <h5 class="text-primary mb-1">No hay Obras Sociales registradas</h5>
                </div>
                <div class="d-flex py-3">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex py-3 justify-content-start">
                <a href="{% url 'clients_app:hi_new' %}" class="btn btn-secondary me-2" type="submit">Nuevo Obra
                    Social</a>
            </div>
        </div>
    </div>
</div>
{% endif %}


</div>




{% endblock main %}

{% block extra_js %}
{% endblock extra_js %}