<div>
    <!--Correccion-->
    <div class="px-sm-3 px-md-5">
        <div class="text-center">
            <h4>Lejos</h4>
        </div>
        <div class="table-responsive scrollbar">
            <table class="table table-bordered overflow-hidden table-fixed" id="table_from_correction">
                <colgroup>
                    <col class="col-3"/>
                    <col class="col-3"/>
                    <col class="col-3"/>
                    <col class="col-3"/>
                </colgroup>
                <thead>
                    <tr class="btn-reveal-trigger">
                        <th scope="col"></th>
                        <th class="text-center" scope="col">Esferico</th>
                        <th class="text-center" scope="col">Cilindrico</th>
                        <th class="text-center" scope="col">Eje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="btn-reveal-trigger">
                        <td>
                            <p><strong>Derecho</strong></p>
                        </td>
                        <td>{{ order_service.correction.lej_od_cilindrico }}</td>
                        <td>{{ order_service.correction.lej_od_esferico }}</td>
                        <td>{{ order_service.correction.lej_od_eje }}</td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                        <td>
                            <p><strong>Izquierdo</strong></p>
                        </td>
                        <td>{{ order_service.correction.lej_oi_esferico }}</td>
                        <td>{{ order_service.correction.lej_oi_cilindrico }}</td>
                        <td>{{ order_service.correction.lej_oi_eje }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <h4>Cerca</h4>
        </div>
        <div class="table-responsive scrollbar">
            <table class="table table-bordered overflow-hidden" id="table_from_correction">
                <colgroup>
                    <col class="col-3"/>
                    <col class="col-3"/>
                    <col class="col-3"/>
                    <col class="col-3"/>
                </colgroup>
                <thead>
                    <tr class="btn-reveal-trigger">
                        <th scope="col"></th>
                        <th class="text-center" scope="col">Esferico</th>
                        <th class="text-center" scope="col">Cilindrico</th>
                        <th class="text-center" scope="col">Eje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="btn-reveal-trigger">
                        <td>
                            <p><strong>Derecho</strong></p>
                        </td>
                        <td>{{ order_service.correction.cer_od_cilindrico }}</td>
                        <td>{{ order_service.correction.cer_od_esferico }}</td>
                        <td>{{ order_service.correction.cer_od_eje }}</td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                        <td>
                            <p><strong>Izquierdo</strong></p>
                        </td>
                        <td>{{ order_service.correction.cer_oi_esferico }}</td>
                        <td>{{ order_service.correction.cer_oi_cilindrico }}</td>
                        <td>{{ order_service.correction.cer_oi_eje }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- </form> -->
    </div>
    <hr>
    <!--Caracteristicas-->
    <div class="px-sm-3 px-md-5">
        <!-- <form> -->
        <div class="row">
            <div class="col position-relative text-start">
                <div class="row">
                    <h5 class="mt-2 mb-5">Materiales</h5>
                </div>
                <div class="text-start">{{ order_service.material.as_p }}</div>
            </div>
            <div class="col form-check-reverse text-start">
                <div class="row">
                    <h5 class="mt-2 mb-5">Color</h5>
                </div>
                <div class="text-start">{{ order_service.color.as_p }}</div>
            </div>
            <div class="col text-start">
                <div class="row">
                    <h5 class="mt-2 mb-5">Cristales</h5>
                </div>
                <div class="text-start">{{ order_service.cristal.as_p }}</div>
                
            </div>
            <div class="col text-start">
                <div class="row">
                    <h5 class="mt-2 mb-4">Tratamiento</h5>
                </div>
                <div class="text-start">{{ order_service.tratamiento.as_p }}</div>
                
            </div>
        </div>
        <!-- </form> -->
    </div>
    <!--Pupilar-->
    <hr>
    <div class="px-sm-3 px-md-5">
        <!-- <form class="form-validation"> -->
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h4>Lejos</h4>
                </div>
                <table class="table table-bordered overflow-hidden" id="table_from_interpupillary">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Izquierdo</th>
                            <th scope="col">Derecho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <p><strong>Nanopupilar</strong></p>
                            </td>
                            <td>{{ order_service.pupilar.lej_oi_nanopupilar }}</td>
                            <td>{{ order_service.pupilar.lej_od_nanopupilar }}</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p><strong>Pelicula</strong></p>
                            </td>
                            <td>{{ order_service.pupilar.lej_oi_pelicula }}</td>
                            <td>{{ order_service.pupilar.lej_od_pelicula }}</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p><strong>Total</strong>
                            </td>
                            <td colspan="2">{{ order_service.pupilar.lej_total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="text-center">
                    <h4>Cerca</h4>
                </div>
                <table class="table table-bordered overflow-hidden" id="table_from_interpupillary">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Izquierdo</th>
                            <th scope="col">Derecho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <p><strong>Nanopupilar</strong></p>
                            </td>
                            <td>{{ order_service.pupilar.cer_oi_nanopupilar }}</td>
                            <td>{{ order_service.pupilar.cer_od_nanopupilar }}</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p><strong>Pelicula</strong></p>
                            </td>
                            <td>{{ order_service.pupilar.cer_oi_pelicula }}</td>
                            <td>{{ order_service.pupilar.cer_od_pelicula }}</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p><strong>Total</strong></p>
                            </td>
                            <td colspan="2">{{ order_service.pupilar.cer_total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- </form> -->
    </div>
    <hr>
    <!--Diagnostico-->
    <div class="px-sm-3 px-md-5">
        <div class="row justify-content-sm-center pb-2">
                <div class="container mb-2">
                    <label for="id_diagnostic" class="form-label">Diagnostico</label>
                    {{order_service.service.diagnostic}}
                </div>
                <div class="container mb-2">
                    <label for="id_armazon" class="form-label">Armazones</label>
                    {{order_service.service.armazon}}
                </div>
                <div class="container">
                    <label for="id_observation" class="form-label">Observaciones</label>
                    {{order_service.service.observations}}
                </div>
        </div>  
        
    </div>
</div>