{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}

<style>
    .custom-x-badge {
        font-size: 45px; /* Ajusta el tamaño del texto según tus necesidades */
    }
</style>


{% endblock extra_css %}

{% block main %}

<div class="container py-4">
    {% include 'core/components/messages.html' %}

    <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
                class="fa-inverse fa-stack-1x text-primary fas fa-flask"></i></span>
        <div class="col">
            <h5 class="mb-0 text-primary position-relative"><span
                    class="bg-200 dark__bg-1100 pe-3">Orden de servicio</span><span
                    class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
            <p class="mb-0">Orden de servicio del cliente <a class="link-600 fw-semi-bold" href="{% url 'clients_app:customer_detail' service_order.customer.id %}"><span
                class="text-warning">{{service_order.customer}}</span></a> realizado el {{service_order.created_at | date:"j \d\e F \d\e\l Y"}}</p>
        </div>
    </div>
    
    <!-- Editar boton - Boton para editar Orden de Servicio -->
    
    {% if request.user.is_staff %}
        <a class="btn btn-info" href="{% url 'clients_app:service_order_update' service_order.pk %}">Editar</a>
    {% endif %}

    <button id="printer" data-id="{{service_order.pk}}" class="btn btn-success">
        Imprimir Orden de servicio
    </button>
        


    <div class="card mb-3">
        <div class="container justify-content-center">
            <div class="row row-justify-content my-3">
                <div class="container d-flex justify-content-center text-center">
                    <h1>Correccion</h1>
                </div>
                <div class="col">
                    <div class="text-center">
                        <h4>Lejos</h4>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table table-bordered overflow-hidden table-fixed" id="table_from_correction">
                            <colgroup>
                                <col class="col-3" />
                                <col class="col-3" />
                                <col class="col-3" />
                                <col class="col-3" />
                            </colgroup>
                            <thead>
                                <tr class="btn-reveal-trigger">
                                    <th scope="col"></th>
                                    <th class="text-center" scope="col">Cilindrico</th>
                                    <th class="text-center" scope="col">Esferico</th>
                                    <th class="text-center" scope="col">Eje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="btn-reveal-trigger">
                                    <td>
                                        <p><strong>Derecho</strong></p>
                                    </td>
                                    <td>{{ service_order.correction.lej_od_esferico }}</td>
                                    <td>{{ service_order.correction.lej_od_cilindrico }}</td>
                                    <td>{{ service_order.correction.lej_od_eje }}</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td>
                                        <p><strong>Izquierdo</strong></p>
                                    </td>
                                    <td>{{ service_order.correction.lej_oi_esferico }}</td>
                                    <td>{{ service_order.correction.lej_oi_cilindrico }}</td>
                                    <td>{{ service_order.correction.lej_oi_eje }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <h4>Cerca</h4>
                    </div>
                    <div class="table-responsive scrollbar">
                        <table class="table table-bordered overflow-hidden" id="table_from_correction">
                            <colgroup>
                                <col class="col-3" />
                                <col class="col-3" />
                                <col class="col-3" />
                                <col class="col-3" />
                            </colgroup>
                            <thead>
                                <tr class="btn-reveal-trigger">
                                    <th scope="col"></th>
                                    <th class="text-center" scope="col">Cilindrico</th>
                                    <th class="text-center" scope="col">Esferico</th>
                                    <th class="text-center" scope="col">Eje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="btn-reveal-trigger">
                                    <td>
                                        <p><strong>Derecho</strong></p>
                                    </td>
                                    <td>{{ service_order.correction.cer_od_esferico }}</td>
                                    <td>{{ service_order.correction.cer_od_cilindrico }}</td>
                                    <td>{{ service_order.correction.cer_od_eje }}</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td>
                                        <p><strong>Izquierdo</strong></p>
                                    </td>
                                    <td>{{ service_order.correction.cer_oi_esferico }}</td>
                                    <td>{{ service_order.correction.cer_oi_cilindrico }}</td>
                                    <td>{{ service_order.correction.cer_oi_eje }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row justify-content-center">
            <div class="container d-flex justify-content-center text-center">
                <h1>Interpupilar</h1>
            </div>
            <div class="col">
                <div class="text-center">
                    <h4>Lejos</h4>
                </div>
                <table class="table table-bordered overflow-hidden" id="table_from_interpupillary">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Izquierdo</th>
                            <th scope="col">Derecho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <p><strong>Nanopupilar</strong></p>
                            </td>
                            <td>{{ service_order.interpupillary.lej_oi_nanopupilar }}</td>
                            <td>{{ service_order.interpupillary.lej_od_nanopupilar }}</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p><strong>Pelicula</strong></p>
                            </td>
                            <td>{{ service_order.interpupillary.lej_oi_pelicula }}</td>
                            <td>{{ service_order.interpupillary.lej_od_pelicula }}</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p><strong>Total</strong>
                            </td>
                            <td colspan="2">{{ service_order.interpupillary.lej_total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="text-center">
                    <h4>Cerca</h4>
                </div>
                <table class="table table-bordered overflow-hidden" id="table_from_interpupillary">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Izquierdo</th>
                            <th scope="col">Derecho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <p><strong>Nanopupilar</strong></p>
                            </td>
                            <td>{{ service_order.interpupillary.cer_oi_nanopupilar }}</td>
                            <td>{{ service_order.interpupillary.cer_od_nanopupilar }}</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p><strong>Pelicula</strong></p>
                            </td>
                            <td>{{ service_order.interpupillary.cer_oi_pelicula }}</td>
                            <td>{{ service_order.interpupillary.cer_od_pelicula }}</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <p><strong>Total</strong></p>
                            </td>
                            <td colspan="2">{{ service_order.interpupillary.cer_total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row row-justify-content">
            <div class="col">
                <div class="container d-flex justify-content-center text-center">
                    <h1>Tratamiento</h1>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Antireflex</td>
                            <td class="p-0 m-0">
                                {% if service_order.tratamient.antireflex %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Filtro Azul</td>
                            <td class="p-0 m-0">
                                {% if service_order.tratamient.filtro_azul %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Fotocromático</td>
                            <td class="p-0 m-0">
                                {% if service_order.tratamient.fotocromatico %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Ultravex</td>
                            <td class="p-0 m-0">
                                {% if service_order.tratamient.ultravex %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Polarizado</td>
                            <td class="p-0 m-0">
                                {% if service_order.tratamient.polarizado %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Neutrosolar</td>
                            <td class="p-0 m-0">
                                {% if service_order.tratamient.neutrosolar %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="container d-flex justify-content-center text-center">
                    <h1>Material</h1>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Policarbonato</td>
                            <td class="p-0 m-0">
                                {% if service_order.material.policarbonato %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Organic</td>
                            <td class="p-0 m-0">
                                {% if service_order.material.organic %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Mineral</td>
                            <td class="p-0 m-0">
                                {% if service_order.material.mineral %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>M R8</td>
                            <td class="p-0 m-0">
                                {% if service_order.material.m_r8 %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row row-justify-content">
            <div class="col">
                <div class="container d-flex justify-content-center text-center">
                    <h1>Color</h1>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>White</td>
                            <td class="p-0 m-0">
                                {% if service_order.color.white %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Full Gray</td>
                            <td class="p-0 m-0">
                                {% if service_order.color.full_gray %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Gray Gradient</td>
                            <td class="p-0 m-0">
                                {% if service_order.color.gray_gradient %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Flat Sepia</td>
                            <td class="p-0 m-0">
                                {% if service_order.color.flat_sepia %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="container d-flex justify-content-center text-center">
                    <h1>Cristal</h1>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monofocal</td>
                            <td class="p-0 m-0">
                                {% if service_order.type_cristal.monofocal %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Bifocal FV</td>
                            <td class="p-0 m-0">
                                {% if service_order.type_cristal.bifocal_fv %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Bifocal K</td>
                            <td class="p-0 m-0">
                                {% if service_order.type_cristal.bifocal_k %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Bifocal PI</td>
                            <td class="p-0 m-0">
                                {% if service_order.type_cristal.bifocal_pi %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Progressive</td>
                            <td class="p-0 m-0">
                                {% if service_order.type_cristal.progressive %}
                                <p class="badge badge-success custom-badge h3 text-dark p-0 m-0 d-flex align-items-center justify-content-center custom-x-badge">X</p>
                                {% else %}
                                <p class="badge badge-success custom-badge h3 text-dark">&nbsp;</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row row-justify-content">
            <div class="col mb-3">
                <div class="container d-flex justify-content-center text-center">
                    <h1>Diagnostico</h1>
                </div>
                <div class="container justify-content-center">
                    <textarea id="diagnostic" name="diagnostic" class="form-control" rows="3"
                        readonly>{{ service_order.diagnostic }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row row-justify-content">
            <div class="col mb-3">
                <div class="container d-flex justify-content-center text-center">
                    <h1>Armazon</h1>
                </div>
                <div class="container justify-content-center">
                    <textarea id="diagnostic" name="diagnostic" class="form-control" rows="3"
                        readonly>{{ service_order.armazon }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row row-justify-content">
            <div class="col mb-3">
                <div class="container d-flex justify-content-center text-center">
                    <h1>Observaciones</h1>
                </div>
                <div class="container justify-content-center">
                    <textarea id="diagnostic" name="diagnostic" class="form-control" rows="3"
                        readonly>{{ service_order.observations }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'clients_app:customer_detail' service_order.customer.id %}" class="btn btn-primary">Volver al Cliente</a>



</div>
{% endblock main %}

{% block extra_js %}
<script src="{% static 'clients/js/print_service_order.js' %}"></script>
{% endblock extra_js %}