{% load static %} {% load humanize %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">
    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% include 'core/components/messages.html' %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    <div class="col-12 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4">
        <span class="fa-stack me-2 ms-n1"
            ><i class="fas fa-circle fa-stack-2x text-300"></i
            ><i class="fa-inverse fa-stack-1x text-primary fas fa-shopping-cart"></i
        ></span>
        <div class="col">
            <h5 class="mb-0 text-primary position-relative">
            <span class="bg-200 dark__bg-1100 pe-3">Detalle de la venta</span
            ><span
                class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"
            ></span>
            </h5>
            <p class="mb-0">
            Aquí puede vizualizar el detalle completo de la venta
            </p>
        </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--    Card con la presentacion del detalle de venta-->
    <!-- ===============================================-->

    <a href='{% url "sales_app:show_invoice" sale.pk %}' target='_blank' class="btn btn-primary">
        Ver Comprobante de Pago
    </a>
    
    {% if sale.receipt %}
    <a href='{% url "sales_app:show_factura" sale.pk %}' target='_blank' class="btn btn-primary">
        Ver Factura
    </a>
    {% elif sale.state == 'COMPLETADO' %}
        <form method="post" action="{% url 'sales_app:gen_factura' sale.pk %}">
            {% csrf_token %}
            <div class="d-flex" id="gen-fatura-button">
                <div class="col-2 me-2 mt-2 mb-2">
                    {{ select.select }}
                </div>
            </div>
        </form>
    {% endif %}

    <div class="card mb-3">
        <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../../../assets/img/icons/spot-illustrations/corner-4.png);opacity: 0.7;">
        </div>
        <!--/.bg-holder-->
        <div class="row card-body position-relative">
            <div class=" col-6">
                <h5>Detalle de venta: #{{sale.pk}}</h5>
                <p class="fs--1">{{sale.created_at}}</p>
                <div>
                    <strong class="me-2">Estado: </strong>
                    {% if sale.state == 'COMPLETADO' %}
                    <div class="badge rounded-pill badge-soft-success fs--2">
                        Completada
                        <span class="fas fa-check ms-1" data-fa-transform="shrink-2"></span>
                    </div>
                {% elif sale.state == 'PENDIENTE' %}
                    <div class="badge rounded-pill badge-soft-secondary fs--2">
                        Pendiente
                        <span class="fas fa-clock ms-1" data-fa-transform="shrink-2"></span>
                    </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            
            <!-- Si la venta contiene un cristal o lente de contacto, muestra el boton de para agregar orden de servicio -->
            {% if cristales or contactos %} 
                <div class="col-6">
                    <!--Boton modal de orden de servicio-->
                    <button type="button" class="btn btn-info" data-bs-target="#serviceOrder" data-bs-toggle="modal">Orden de servicio</button>                
                    <!--Modal orden de servicio-->
                    <div class="mt-1">
                        {% if order_serivices %}
                            {% for service in order_serivices %}
                                <p>
                                    <a href="{% url 'clients_app:service_order_detail' service.pk %}">{{service}}</a>
                                </p>
                            {% endfor %}
                        {% endif %}
                            
                    </div>
                    <form action="{% url 'sales_app:order_service' sale.pk %}" method="post">
                        {% csrf_token %}
                        <div class="modal fade" id="serviceOrder" aria-hidden="true" aria-labelledby="serviceOrderLabel" tabindex="-1">
                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="serviceOrder">Generar orden de servicio</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% include 'clients/service_order_to_sale.html' %}
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-ft-modal">Cerrar</button>
                                        <button class="btn btn-primary" type="submit" data-bs-toggle="modal">Guardar Orden de Servicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
                
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                {% if sale.missing_balance > 0 %}
                    <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
                {% else %}
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                {% endif %}
                    <h5 class="mb-3 fs-0">Cliente</h5>
                    <h6 class="mb-2">
                        {% if sale.customer and sale.customer.dni != 0 %}
                            <a href="{% url 'clients_app:customer_detail' sale.customer.pk %}">{{sale.customer}}</a>
                        {% else %}
                            Consumidor Final
                        {% endif %}
                    </h6>
                    <p class="mb-0 fs--1">Dirección: <strong> 
                        {% if sale.customer.address %}
                            {{sale.customer.address}}
                        {% else %}
                            Sin dirección asignada
                        {% endif %}
                            </strong>
                    </p>
                    <p class="mb-0 fs--1"> <strong>Correo: </strong>{% if sale.customer.email %}<a href="mailto:{{sale.customer.email}}">{{sale.customer.email}}</a>{% else %}Sin datos{% endif %}</p>
                    <p class="mb-0 fs--1"> <strong>Telefono: </strong>{% if sale.customer.phone_code %}<a href="tel:{{sale.customer.phone_code}}{{sale.customer.phone_number}}">{{sale.customer.phone_code}}{{sale.customer.phone_number}}{% else %}Sin datos{% endif %}</a></p>
                </div>
                {% if sale.missing_balance > 0 %}
                    <div class="col-md-4 col-lg-4">
                {% else %}
                    <div class="col-md-6 col-lg-4">
                {% endif %}
                    <h5 class="mb-3 fs-0">Metodo de pago</h5>
                    <div class="d-flex gap-1">
                        <span class="fas fa-credit-card ms-1" data-fa-transform="shrink-2"></span>
                        <div class="flex-1">
                            {% for payment in sale.sale_payment.all %}
                                <h6 class="mb-0">{{payment.payment_method.name}}</h6>
                                <p class="mb-0 fs--1"> <strong>Monto: </strong>{{payment.amount|floatformat:2|intcomma}}</p>
                                <p class="mb-0 fs--1"> <strong>Detalle en el pago: </strong>{{payment.description}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                {% if sale.missing_balance > 0 %}
                    <div class="col-md-4 col-lg-4">
                        <h5 class="mb-3 fs-0 text-danger">Pago adeudado</h5>
                        <div class="d-flex gap-1">
                            <span class="fas fa-credit-card ms-1" data-fa-transform="shrink-2"></span>
                            <div class="flex-1">
                                <p class="mb-0 fs--1"> <strong>Deuda: </strong>{{sale.missing_balance|floatformat:2|intcomma}}</p>
                            </div>
                        </div>
                        <button id="pay-missing_balance" class="btn btn-warning" data-bs-target="#Pay" data-bs-toggle="modal">
                            Pagar
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive fs--1">
        <table class="table table-striped border-bottom">
            <thead class="bg-200 text-900">
            <tr>
                <th class="border-0">Productos</th>
                <th class="border-0 text-center">Cantidad</th>
                <th class="border-0 text-end">Descuento</th>
                <th class="border-0 text-end">Precio</th>
            </tr>
            </thead>
            <tbody>
            {% for detail in sale_details %}
                <tr class="border-200">
                    <td class="align-middle">
                    <h6 class="mb-0 text-nowrap"><a href="{% url 'products_app:product_detail' detail.product.id %}">{{detail.product.name}}</a></h6>
                    <p class="mb-0">{{detaill.product.description}}</p>
                    </td>
                    <td class="align-middle text-center">{{detail.quantity}}</td>
                    <td class="align-middle text-end">{{detail.discount}}&nbsp;%</td>
                    <td class="align-middle text-end">{{detail.price}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="row g-0 justify-content-end">
        <div class="col-auto">
            <table class="table table-sm table-borderless fs--1 text-end">
            <tr>
                <th class="text-900">Subtotal:</th>
                <td class="fw-semi-bold">${{sale_subtotal|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
                <th class="text-900">*Descuentos:</th>
                <td class="fw-semi-bold">- ${{sale.discount_extra|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
                <th class="text-900">Descuento de venta {{sale.discount}}%:</th>
                <td class="fw-semi-bold">- ${{sale_discount_amount|floatformat:2|intcomma}}</td>
            </tr>
            {% if  sale.discount_extra%}
                <tr>
                    <th class="text-900">Descuento:</th>
                    <td class="fw-semi-bold">- ${{sale.discount_extra|floatformat:2|intcomma}}</td>
                </tr>
            {% endif %}
            {% if  sale.discount%}
                <tr>
                    <th class="text-900">Descuento en total de la venta {{sale.discount}}%:</th>
                    <td class="fw-semi-bold">- ${{sale_discount_amount|floatformat:2|intcomma}}</td>
                </tr>
            {% endif %}
            <tr class="border-top">
                <th class="text-900">Total:</th>
                <td class="fw-semi-bold">${{sale_total|floatformat:2|intcomma}}</td>
            </tr>
            </table>
        </div>
        </div>
    </div>
    <div class="px-4 pb-2 fs--1">
        * Se contemplan los descuentos aplicados manualmente a cada artículo, así como sus promociones.
    </div>
    </div>

    <!-- ===============================================-->
    <!--   Fin Card con la presentacion del detalle de la venta-->
    <!-- ===============================================-->
</div>
<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->
<form method="post" action="{% url 'sales_app:pay_missing_balance' sale.pk %}">
    {% csrf_token %}        
    <div class="modal fade" id="Pay" aria-hidden="true" aria-labelledby="PayLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Pay">Pagar deuda de la venta #{{sale.pk}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="">
                        Total a pagar: {{ sale.missing_balance }}
                    </div>
                    {{pay_form.as_p}}
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-ft-modal">Cerrar</button>
                    <button class="btn btn-warning" type="submit" data-bs-toggle="modal">Pagar</button>
                </div>
            </div>
        </div>
    </div>
</form>

