{% load static %}

<div class="container mt-4">
    {% include 'core/components/messages.html' %}

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Título -->
        <div class="d-flex mb-4">
            <span class="fa-stack me-2 ms-n1">
                <i class="fas fa-circle fa-stack-2x text-300"></i>
                <i class="fa-inverse fa-stack-1x text-primary fas fa-money-check"></i>
            </span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span
                        class="bg-200 dark__bg-1100 pe-3">Promociones</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aquí puede vizualizar todas las promociones</p>
            </div>
        </div>
    </div>


    {% if promotions %}
    <div class="col-lg-12 col-xl-12 col-xxl-12 h-100">
        <!--Card-->
        <div class="card z-index-1 mb-3" id="recentPurchaseTable"
            data-list='{"valueNames":["name","type_prom","discount","is_active","start_date","end_date"],"page":25,"pagination":true}'>
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-12 text-center col-sm-auto d-flex align-items-center pe-0">
                        <div>
                            <form id="searchForm" method="GET" data-ajax-search-url="{% url 'promotions_app:ajax_promotional_products' %}">
                                <div class="input-group">
                                    <input maxlength="50" class="form-control form-control-sm shadow-none search" id="searchInput" type="search" placeholder="Buscar" aria-label="search" />
                                    <div class="input-group-text bg-transparent"><span class="fa fa-search fs--1 text-600"></span></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 text-center mt-2 col-sm-auto ms-auto sm-text-end ps-0">
                        <div id="table-purchases-replace-element">
                            <a href="{% url 'promotions_app:promotion_new' %}" class="btn btn-falcon-default btn-sm"
                                type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span
                                    class="d-none d-sm-inline-block ms-1">Nueva promoción</span></a>
                            <button class="btn btn-falcon-default btn-sm" type="button"><span
                                    class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span
                                    class="d-none d-sm-inline-block ms-1">Exportar</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 py-0">
                <div class="table-responsive scrollbar">
                    <!-- TABLA -->
                    <table class="table table-sm fs--1 mb-0 overflow-hidden">
                        <!-- HEAD TABLA -->
                        <thead class="bg-200 text-900">
                            <tr>
                                {% for column in table_column %}
                                <th class="sort pe-1 align-middle white-space-nowrap" data-sort="{{column.0}}">
                                    {% if column.1 == 'Inicio' %}
                                        Fecha de inicio
                                    {% else %}
                                        {% if column.1 == 'Fin' %}
                                            Fecha de Finalización
                                        {% else %}
                                            {{column.1}}
                                        {% endif %}
                                    {% endif %}
                                </th>
                                {% endfor %}
                                <th class="no-sort pe-1 align-middle data-table-row-action">Acciones</th>
                            </tr>
                        </thead>
                        <!-- BODY TABLA -->
                        <tbody class="list" id="table-purchase-body">

                            {% for promotion in promotions %}
                            <tr class="btn-reveal-trigger">
                                <td class="align-start name">{{promotion.name}}</td>
                                <td class="align-start type_prom">{{promotion.type_prom}}</td>
                                <td class="align-start start_date">{{promotion.start_date}}</td>
                                <td class="align-start end_date">{{promotion.end_date}}</td>
                                <td class="align-start is_active">{{promotion.is_active}}</td>
                                <td class="align-middle white-space-nowrap text-start">
                                    <div class="dropstart font-sans-serif position-static d-inline-block">
                                        <button
                                            class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end"
                                            type="button" id="dropdown0" data-bs-toggle="dropdown"
                                            data-boundary="window" aria-haspopup="true" aria-expanded="false"
                                            data-bs-reference="parent"><span
                                                class="fas fa-ellipsis-h fs--1"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end border py-2"
                                            aria-labelledby="dropdown0">
                                            <a class="dropdown-item"
                                                href="{% url 'promotions_app:promotion_detail' promotion.id %} ">Detalle</a>
                                            <a class="dropdown-item"
                                                href="#">Editar</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger"
                                                href="#">Borrar</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="pagination d-none"></div>
                    <div class="col">
                        <p class="mb-0 fs--1"><span class="d-none d-sm-inline-block me-2"
                                data-list-info="data-list-info"> </span>
                        </p>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="btn btn-sm btn-primary" type="button"
                            data-list-pagination="prev"><span>Anterior</span></button>
                        <button class="btn btn-sm btn-primary px-4 ms-2" type="button"
                            data-list-pagination="next"><span>Siguiente</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!--Card-->
        <div class="card bg-transparent-50 overflow-hidden">
            <div class="card-header position-relative">
                <div class="bg-holder d-none d-md-block bg-card z-index-1"
                    style="background-image:url(../assets/img/illustrations/ecommerce-bg.png);background-size:230px;background-position:right bottom;z-index:-1;">
                </div>
                <!--/.bg-holder-->

                <div class="position-relative z-index-2">
                    <div>
                        <h3 class="text-primary mb-1">No hay Promociones</h3>
                    </div>
                    <div class="d-flex py-3">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a class="btn btn-primary d-block w-100 mt-3" href="{% url 'promotions_app:promotion_new' %}"> Crear nueva
                    Promocion</a>
            </div>
        </div>
    </div>
    {% endif %}

</div>