{% load static %}

<div class="container mt-4">

    {% include 'core/components/messages.html' %}


    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Título del formulario wizard -->
        <div class="d-flex mb-4">
            <span class="fa-stack me-2 ms-n1">
                <i class="fas fa-circle fa-stack-2x text-300"></i>
                <i class="fa-inverse fa-stack-1x text-primary fas fa-money-check"></i>
            </span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Nueva
                        promoción</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aquí puede crear una nueva promoción</p>
            </div>
        </div>
    </div>


    <div class="card mb-3 col-sm-10 col-lg-8">
        <!-- HEADER DE LA CARD -->
        <div class="card-header bg-light pt-3 pb-2">
            <div class="row pb-md-0">
                <div class="col-12 col-sm-6">
                    <h5 class="mb-2"></h5>
                </div>
            </div>
        </div>
        <!-- BODY DE LA CARD -->
        <div class="card-body border-top">
            <div class="row">
                <div class="col-lg-12 mb-3 mb-sm-0">
                    <div class="row">
                        <form id="#" method="post">
                            {% csrf_token %}
                            {{form.management_form}}

                            <div id="form-hidden" hidden data-form='{{ form.empty_form }}'></div>

                            <div id="formset-forms">
                                <div class="visible-form" id="id_form-0">
                                    <div class="row">
                                        {% for f in form %}
                                        <div class="col-12 col-md-8 col-lg-6">
                                            <label for="{{ f.name.id_for_label }}" class="form-label">Nombre de la
                                                promoción:</label>
                                            {{f.name}}
                                            <small>El nombre de la promoción debe tener <span class="text-warning">al
                                                    menos 3
                                                    caracteres.</span></small>
                                            {% if f.name.errors %}
                                            <div class="text-danger fs--2">
                                                {{f.name.errors}}
                                            </div>
                                            {% endif %}
                                        </div>
                                        

                                        <div class="row pt-sm-3">

                                            <div class="col-12 col-md-3 pt-3 pt-sm-0">
                                                <label for="{{ f.type_discount.id_for_label }}"
                                                    class="form-label">Promoción:</label>
                                                {{f.type_discount}}
                                                <small> <span class="text-warning"></span></small>
                                                {% if f.type_discount.errors %}
                                                <div class="text-danger fs--2">
                                                    {{f.type_discount.errors}}
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="col-12 col-md-3 pt-3 pt-sm-0">
                                                <label for="{{f.start_date.id_for_label}}" class="form-label">Inicio:</label>
                                                {{f.start_date}}
                                                <small> <span class="text-warning"></span></small>
                                                {% if f.start_date.errors %}
                                                <div class="text-danger fs--2">
                                                    {{f.start_date.errors}}
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="col-12 col-md-3 pt-3 pt-sm-0">
                                                <label for="" class="form-label">Finalización:</label>
                                                {{f.end_date}}
                                                <small> <span class="text-warning"></span></small>
                                                {% if f.end_date.errors %}
                                                <div class="text-danger fs--2">
                                                    {{f.end_date.errors}}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-12 pt-3">
                                                <label for="{{f.description.id_for_label}}"
                                                    class="form-label">Descripción:</label>
                                                {{f.description}}
                                                <small><span class="text-warning"></span></small>
                                                {% if f.description.errors %}
                                                <div class="text-danger fs--2">
                                                    {{f.description.errors}}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        {% endfor %}

                                        <div class="row pt-5 pb-3">
                                            <div class="col-12 col-sm-6 form-group">
                                                <div class="input-group">
                                                    <input required type="search" id="id_form-0-search-productA-input"
                                                    class="form-control form-control-sm shadow-none search"
                                                    placeholder="Buscar producto">
                                                    <div class="input-group-text bg-transparent"><span class="fa fa-search fs--1 text-600"></span></div>
                                                    <ul id="id_form-0-search-productA-results"
                                                    class="list-group text-dark mt-3"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                </div>
                            </div>
                            <!-- <button id="add-form" type="button" class="btn btn-primary">Agregar otro</button> -->
                            <button type="submit" class="btn btn-primary">Cargar</button>
                            <div class="pt-4 pb-2">
                                <h5>Productos seleccionados:</h5>
                                <div id="products-selected" class="form-check d-flex flex-column" hidden></div>
                            </div>
                            <!-- <input type="submit" value="Guardar"> -->
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>





