{% load static %}

<div class="container mt-4">

    {% include 'core/components/messages.html' %}


    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Título del formulario wizard -->
        <div class="d-flex mb-4">
            <span class="fa-stack me-2 ms-n1">
                <i class="fas fa-circle fa-stack-2x text-300"></i>
                <i class="fa-inverse fa-stack-1x text-primary fas fa-money-check"></i>
            </span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Nueva promoción</span><span
                    class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aquí puede crear una nueva promoción</p>
            </div>
        </div>
    </div>


    <div class="card mb-3 col-sm-10 col-lg-8">
        <!-- HEADER DE LA CARD -->
        <div class="card-header bg-light pt-3 pb-2">
            <div class="row pb-md-0">
                <div class="col-12 col-sm-6">
                    <h5 class="mb-2">Nueva promoción</h5>
                </div>
            </div>
        </div>
        <!-- BODY DE LA CARD -->
        <div class="card-body border-top">            
            <div class="row">
                <div class="col-lg-6 mb-3 mb-sm-0">
                    <div class="row">
                        <form id="#" method="post">
                            {% csrf_token %}
                            <div class="row">
                                {% for f in form %}
                                <div class="col-12 col-md-12">
                                    <label for="{{ f.name.id_for_label }}" class="form-label">Nombre de la promoción:</label>
                                        {{f.name}}
                                    <small>El nombre de la promoción debe tener <span class="text-warning">al menos 3 caracteres.</span></small>
                                    {% if f.name.errors %}
                                    <div class="text-danger fs--2">
                                        {{f.name.errors}}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="row pt-sm-3">
                                    <div class="col-12 col-md-6 pt-3 pt-sm-0">
                                        <label for="{{ f.type_discount.id_for_label }}" class="form-label">Promoción:</label>
                                        {{f.type_discount}}
                                        <small> <span class="text-warning"></span></small>
                                        {% if f.type_discount.errors %}
                                        <div class="text-danger fs--2">
                                            {{f.type_discount.errors}}
                                        </div>
                                        {% endif %}
                                    </div>
    
                                    <div class="col-12 col-md-6 pt-3 pt-sm-0">
                                        <label for="{{ f.discount.id_for_label }}" class="form-label">Descuento:</label>
                                        {{f.discount}}
                                        <small> <span class="text-warning"></span></small>
                                        {% if f.discount.errors %}
                                        <div class="text-danger fs--2">
                                            {{f.discount.errors}}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="row pt-sm-3">
                                    <div class="col-12 col-md-6 pt-3 pt-sm-0">
                                        <label for="{{f.start_date.id_for_label}}" class="form-label">Fecha de inicio:</label>
                                        {{f.start_date}}
                                        <small> <span class="text-warning"></span></small>
                                        {% if f.start_date.errors %}
                                        <div class="text-danger fs--2">
                                            {{f.start_date.errors}}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="col-12 col-md-6 pt-3 pt-sm-0">
                                        <label for="" class="form-label">Fecha de finalización:</label>
                                        {{f.end_date}}
                                        <small> <span class="text-warning"></span></small>
                                        {% if f.end_date.errors %}
                                        <div class="text-danger fs--2">
                                            {{f.end_date.errors}}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 pt-3">
                                    <label for="{{f.description.id_for_label}}" class="form-label">Descripción:</label>
                                    {{f.description}}
                                    <small><span class="text-warning"></span></small>
                                    {% if f.description.errors %}
                                    <div class="text-danger fs--2">
                                        {{f.description.errors}}
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>





<div class="container">
    <form method="post">
        {% csrf_token %}
        
        <div id="formset-forms">
            <div class="visible-form">
                <!-- Renderizar el primer formulario -->
                <script type="text/html" id="form-template">  // id="inlineformsetname-template"
                    // id='inlineformsetname-__prefix__' 
                    <tr id="form-__prefix__" class= hide_all>
                        {% for fields in form.empty_form.hidden_fields %}
                            {{ fields }}
                        {% endfor %}
                    
                        {% for fields in form.empty_form.visible_fields %}
                            <td>{{fields}}</td>
                        {% endfor %}
                    </tr>
                </script>

                {{ form }}
            </div>
        </div>
      
        <button id="add-form" type="button">Agregar más</button>
        <input type="submit" value="Guardar">
    </form>

    <div class="form-group">
        <input required type="text" id="search-products-input" class="form-control rounded p-3 box-shadow" placeholder="Buscar por Nombre, Apellido o DNI">
        <ul id="search-products-results" class="list-group text-dark mt-3"></ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addFormButton = document.getElementById("add-form");
        const formsetForms = document.getElementById("formset-forms");
        
        const emptyForm = `{{ form.empty_form }}`; // Dejo aqui es script porque de esta forma toma facil los datos de la

        addFormButton.addEventListener("click", function () {
            // Clonar los formularios visibles
            const visibleForms = formsetForms.querySelectorAll(".visible-form");
            const count = visibleForms.length;
            const tmplMarkup = emptyForm.replace(/__prefix__/g, count);

            // Agregar el nuevo formulario clonado
            const newForm = document.createElement('div');
            newForm.className = 'visible-form';
            newForm.id = `id_form-${count}`;
            newForm.innerHTML = tmplMarkup;
            formsetForms.appendChild(newForm);

            if (count > 0) {
                const deleteButton = document.createElement('button');
                deleteButton.type = "button";
                deleteButton.className = "delete-form";
                deleteButton.textContent = "Eliminar";
                deleteButton.addEventListener('click', function(){
                    newForm.remove();
                    // Actualizar el contador de formularios después de la eliminación
                    const totalFormsInput = document.querySelector("#id_form-TOTAL_FORMS");
                    totalFormsInput.value = formsetForms.querySelectorAll(".visible-form").length;

                    // Reordenar los IDs y los nombres de los campos de los formularios restantes
                    formsetForms.querySelectorAll(".visible-form").forEach(function (form, index) {
                        const formId = `id_form-${index}`;
                        form.id = formId;

                        // Actualizar los nombres de los campos dentro del formulario
                        const fields = form.querySelectorAll('[name^="form-"]');
                        fields.forEach(function (field) {
                            const fieldName = field.getAttribute("name");
                            const newFieldName = fieldName.replace(/form-\d+-/, `form-${index}-`);
                            field.setAttribute("name", newFieldName);
                            
                            // Actualizar los IDs de los campos
                            const fieldId = field.getAttribute("id");
                            const newFieldId = fieldId.replace(/id_form-\d+-/, `id_form-${index}-`);
                            field.setAttribute("id", newFieldId);
                        });
                    });
                });
                newForm.appendChild(deleteButton);
            }
            // Actualizar el contador de formularios
            const totalFormsInput = document.querySelector("#id_form-TOTAL_FORMS");
            totalFormsInput.value = count + 1;
        });

    });
  </script>