{% extends 'dashboard/dashboard_page.html' %}
{% load static %}
{% block content %}

<div class="container pb-3">
    {% include 'dashboard/components/daily/successful_payments.html' %}
</div>
<div class="container pb-3">
    <div class="row align-items-center">
        <div class="col-lg-4 mb-2">
            {% include 'dashboard/components/daily/customers.html' %}
        </div>
        <div class="col-lg-4 mb-2">
            {% include 'dashboard/components/daily/sales.html' %}
        </div>
        <div class="col-lg-4 mb-2">
            {% include 'dashboard/components/daily/revenues.html' %}
        </div>
    </div>
</div>


<div class="container pb-3">
    {% include 'dashboard/components/daily/table_last_sales.html' %}
</div>
<div class="container pb-3">
    {% include 'dashboard/components/daily/table_last_movements.html' %}
</div>

{% endblock content %}
