{% load static %}
{% load humanize %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

  <!-- ===============================================-->
  <!--    Errores de Sistema (Backend)-->
  <!-- ===============================================-->

  {% include 'core/components/messages.html' %}

  <!-- ===============================================-->
  <!--    Fin Errores de Sistema (Backend)-->
  <!-- ===============================================-->


  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <!-- Titulo del formulario wizard -->
    <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
          class="fa-inverse fa-stack-1x text-primary fas fa-user-tie"></i></span>
      <div class="col">
        <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Detalle del proveedor</span><span
            class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
        <p class="mb-0">Aqui puede vizualizar un proveedor</p>
      </div>
    </div>
  </div>


  <!-- ===============================================-->
  <!--    Card con la presentacion de la caja-->
  <!-- ===============================================-->

  {% if supplier %}
    <div class="card mb-3 col-sm-10 col-lg-8">
      <div class="card-header bg-light">
          <div class="row pb-md-0">
              <div class="col-12 col-sm-6">
                <h5 class="mb-2"> {{ supplier.name }}</h5>
              </div>
          </div>
          <div class="row mt-2">
              <div class="col">
                  {% if request.user.is_staff %}
                  <a class="btn btn-falcon-default btn-sm" href="{% url 'suppliers_app:new_supplier' %}">
                      <span class="fas fa-plus fs--2 me-1"></span>
                      Nuevo Proveedor
                  </a>
                  <button class="btn btn-falcon-default btn-sm dropdown-toggle ms-2 dropdown-caret-none" type="button"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'suppliers_app:update_supplier' supplier.id %}">Editar</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="{% url 'suppliers_app:supplier_delete' supplier.id %}">Eliminar</a>
                  </div>
                  {% endif %}
              </div>
          </div>
      </div>
      <div class="card-body border-top">            
        <div class="row">
            <div class="col-lg-6 mb-3 mb-sm-0">
                <div class="row mb-2">
                    <div class="col-12">
                        <h5 class="mb-3">Datos del Proveedor</h5>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <p class="fw-normal fw-semi-bold mb-1">Teléfono:</p>
                        <span class="ms-3 text-800 fw-bold"><a href="https://wa.me/{{ supplier.phone_code }}{{ supplier.phone_number }}">{{ supplier.phone_code }}{{ supplier.phone_number }}</a></span>
                    </div>
                    <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-between">
                      <p class="fw-normal fw-semi-bold mb-1">Email:</p>
                      <span class="ms-3 text-800 fw-bold">{{ supplier.email }}</span>
                    </div>
                    <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-between">
                      <p class="fw-normal fw-semi-bold mb-1">Dirección:</p>
                      <span class="ms-3 text-800 fw-bold">{{ supplier.address }}</span>
                    </div>
                </div>
                <div class="row border-top">
                  <div class="col mt-3 d-flex flex-column flex-sm-row align-content-center">
                    <h5 class="mb-3">Bancos:&nbsp;</h5>
                  </div>
                  {% if supplier.banks.all %}
                  <div class="row">
                    {% for bank in supplier.banks.all %}
                    <div class="col-12">
                      <a href="{% url 'suppliers_app:bank_update' supplier.pk bank.bank.pk %}">
                        <p class="ms-sm-2 text-900 fw-bold d-inline">{{ bank.bank }}</p>
                      </a>
                    </div>
                    {% endfor %}
                  </div>
                  {% else %}
                    <p class="fw-lighter fst-italic">No hay bancos registrados</p>
                  {% endif %}
                </div>
                <!-- <div class="row my-0">
                    <small class="fs--2 py-0 my-0">El proveedor puede tener<span class="text-warning"> más de un banco.</span></small>
                </div> -->
                <div class="col-12 pt-3">
                    <h5 class="mb-3">Marcas Asociadas:</h5>
                    <ul class="list-inline">
                      {% for brand_supplier in supplier.brand_suppliers.all %}
                        <h5 class="ms-sm-2 text-primary fw-bold d-inline">{{ brand_supplier.brand.name }}</h5>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>

  {% else %}
  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <!--Card-->
    <div class="card bg-transparent-50 overflow-hidden">
      <div class="card-header position-relative">
        <div class="bg-holder d-none d-md-block bg-card z-index-1"
          style="background-image:url(../assets/img/illustrations/ecommerce-bg.png);background-size:230px;background-position:right bottom;z-index:-1;">
        </div>
        <!--/.bg-holder-->

        <div class="position-relative z-index-2">
          <div>
            <h3 class="text-primary mb-1">No hay un proveedor</h3>
          </div>
          <div class="card-footer">
            <a class="btn btn-success d-block w-25 mx-5 mt-4 rounded" href="{% url 'suppliers_app:new_supplier' %}">Nuevo Proveedor</a>
          </div>
        </div>
      </div>
      
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- ===============================================-->
<!--   Fin Card con la presentacion de la caja-->
<!-- ===============================================-->

</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->