{% extends 'core/base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'employes/css/imagen_change.css' %}">

{% endblock extra_css  %}

{% block main %}
    {% include 'employes/components/employee_account.html' %}
{% endblock main %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'users/js/edit_form.js' %}"></script>
<script src="{% static 'users/js/imagen_change.js' %}"></script>

{% endblock extra_js %}