{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}

{% endblock extra_css  %}

{% block main %}
 {% include 'products/components/update/product_update_form.html' %}
{% endblock main %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'products/js/dinamic_create_category.js' %}" ></script>
<script src="{% static 'products/js/dinamic_create_brand.js' %}" ></script>
<script src="{% static 'products/js/formset.js' %}"></script> <!-- Agregar este enlace -->

{% endblock extra_js %}