<form class="mt-3" method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{form.as_p}}
    </div>
    {% with named_formsets as formset %}
        {{ formset.management_form }}
        <script type="text/html" id="variants-template">
            <tr id="variants-__prefix__" class="hide_all">
                {% for fields in formset.empty_form.hidden_fields %}
                    {{fields.label}}: {{fields}}
                {% endfor %}
                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields.label}}: {{fields}}</td>
                {% endfor %}
                <td>
                    <button type="button" class="btn btn-danger delete-variant">Delete</button>
                </td>
            </tr>
        </script>
        <div class="table-responsive card mt-4">
            Add Features
            <div id="item-variants">
                {% for formss in formset %}
                    {{ formss.management_form }}
                    <tr id="variants-{{ forloop.counter0 }}" class="hide_all">
                        {{ formss.id }}
                        {% for field in formss.visible_fields %}
                            <td>
                                {{field.label}}: {{field}}
                            </td>
                        {% endfor %}
                        <td>
                            {% if formss.instance.pk %}
                                <button type="button" class="btn btn-danger delete-variant">Delete</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </div>
            <a href="#" id="add-variant-button" class="btn btn-secondary add-variants">Add More</a>
        </div>
    {% endwith %}
    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Registrar</button>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        // Function to add a new variant form
        function addVariantForm() {
            var count = $('#item-variants').children().length;
            var tmplMarkup = $('#variants-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('#item-variants').append(compiledTmpl);
  
            // Update form count
            $('#id_variants-TOTAL_FORMS').attr('value', count + 1);
  
            // Add the "Add Value" button to the new variant form
            var newForm = $('#item-variants').children().last();
            var addValueButton = $('<button type="button" class="btn btn-secondary add-value">Add Value</button>');
            addValueButton.appendTo(newForm.find('td:last'));
  
            // Handle "Add Value" button click
            addValueButton.click(function(e) {
                e.preventDefault();
                addVariantForm(); // Add a new variant form
  
                // Hide the "Type" input field in the new form
                var newForm = $('#item-variants').children().last();
                newForm.find('input[name$="-type"]').hide();
  
                // Copy the text from the original "Type" field to the new form's hidden "Type" field
                var originalType = newForm.prev().find('input[name$="-type"]');
                var newType = newForm.find('input[name$="-type"]');
                newType.val(originalType.val());
            });
        }

        // Function to handle the "Delete" button click
        function handleDeleteVariant() {
            var row = $(this).closest('tr');
            
            // Clear the text in the "Type" and "Value" fields
            row.find('input[name$="-type"]').val('');
            row.find('input[name$="-value"]').val('');
            
            // Remove the row
            row.remove();
        }

        // Attach the initial "Add Value" button click handler
        $('.add-variants').click(function(ev) {
            ev.preventDefault();
            addVariantForm();
        });

        // Attach the "Delete" button click handler to existing variants
        $(document).on('click', '.delete-variant', handleDeleteVariant);
    });
</script>

