<form class="mt-3" method="post">
    {% csrf_token %}
    <div>
        <h3>
            Lejos
        </h3>
        <div>
            <p>
                Ojo izquierdo
            </p>{{ form.far.left_eye.as_p }}
            <p>
                Ojo derecho
            </p>{{ form.far.right_eye.as_p }}
        </div>
    </div>
    <div>
        <h3>
            Cerca
        </h3>
        <div>
            <p>
                Ojo izquierdo
            </p>{{ form.close.left_eye.as_p }}
            <p>
                Ojo derecho
            </p>{{ form.close.right_eye.as_p }}
        </div>
    </div>
    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Registrar</button>
</form>
