{% extends 'core/base.html' %}

{% block title %}Notas{% endblock title %}

{% block extra_css %}
{% load static %}
{% endblock extra_css %}

{% block main %}



<div class="container py-4">
  {% include 'core/components/messages.html' %}

  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
          class="fa-inverse fa-stack-1x text-primary fas fa-sticky-note"></i></span>
      <div class="col">
        <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Notas</span><span
            class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
        <p class="mb-0">Aquí puede visualizar todas las notas</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-12 h-100">
    <div class="row">
      <div class="col-lg-3 d-none d-md-block">
        <div class="card theme-wizard h-100 mb-5">
          <div class="card-header bg-light pt-3 pb-2">
            <div class="d-flex justify-content-center py-2">
              <a href="{% url 'note_app:new_note' %}" class="btn btn-primary me-0" type="submit">Nueva nota</a>
            </div>
            <div class="container my-3 mx-0 px-0">

              {% if labels %}
              <div class="d-flex flex-column">
                {% for label in labels %}
                <div class="border-top pt-2">
                  <div class="row pb-2 ">
                    <div class="col-12 d-flex align-items-center">
                      <!-- <span class="me-2"><input type="color" class="form-control form-control-sm form-control-color" id="color-input-disabled" value="{{label.color}}" disabled></span> -->
                      <span class="ms-3 me-2"><i class="fas fa-circle" style="color: {{label.color}};"></i></span>
                      {{label.label}}
                    </div>
                  </div>
                </div>
                {% endfor %}
              {% endif %}
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card theme-wizard h-100 mb-5">
          <div class="col">
            <div class="card-header bg-light pt-3 pb-2">
              <div class="col">
                <p class="fs--2 mb-0">Notas de sucursal <span class="text-warning">{{ user.branch }}</span></p>
              </div>
            </div>
            <div class="card-body py-4" id="wizard-controller">
              
              {% if notes %}
              <div class="d-flex justify-content-center d-lg-none pb-3">
                <a href="{% url 'note_app:new_note' %}" class="btn btn-primary me-0" type="submit">Nueva nota</a>
              </div>
              <div class="row row-ligth">
                {% for note in notes %}
                <div class="col-md-6 mb-3">
                  <div class="card h-100 mb-3 note-card" style="background-color:{{ note.label.color}}">
                    <div class="container mt-2">
                      <div class="">
                        <div class="card-header" style="background-color: rgb(0 0 0 / 0%);">
                          <h6 class="fs-1 mb-0 note-title">{{ note.subject }}</h6>
                        </div>
                        <div class="">
                          <div class="card-body py-1">
                            <p id="descripcion" class="text-1000 mb-0 note-description">{{ note.description }}</p>
                          </div>
                          <div class="card-footer border-dashed-bottom" style="background-color: rgb(0 0 0 / 0%);"></div>
                          <div>
                            <a href="{% url 'note_app:update_note' pk=note.pk %}"><button class="btn p-0 ms-2"
                                type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><span
                                  class="text-500 fas fa-edit" style="color: whitesmoke !important;"></span></button></a>
                            <a href="{% url 'note_app:delete_note' pk=note.pk %}"><button class="btn p-0 ms-2"
                                type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><span
                                  class="text-500 fas fa-trash-alt" style="color: whitesmoke !important;"></span></button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <!--Nav de paginacion-->
              <nav aria-label="Notes page navigation">
                <ul class="pagination justify-content-center">
                  <!-- Enlace a la página anterior -->
                  <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                    <a class="page-link"
                      href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"
                      tabindex="" aria-disabled="true">Anterior</a>
                  </li>

                  <!-- Números de página -->
                  {% for num in page_obj.paginator.page_range %}
                  <li class="page-item{% if num == page_obj.number %} active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                  {% endfor %}

                  <!-- Enlace a la página siguiente -->
                  <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                    <a class="page-link"
                      href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Siguiente</a>
                  </li>
                </ul>
              </nav>
              {% else %}
              <div class="text-center py-5">
                <h3>No hay notas disponibles</h3>
                <div class="d-flex justify-content-center pb-3">
                  <a href="{% url 'note_app:new_note' %}" class="btn btn-primary me-0" type="submit">Nueva nota</a>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock main %}

{% block extra_js %}
{% endblock extra_js %}