{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}

{% endblock extra_css %}

{% block main %}

<div class="container py-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning border-2 d-flex align-items-center" role="alert">
        <div class="bg-warning me-3 icon-item"><span class="fas fa-exclamation-circle text-white fs-3"></span></div>
        <p class="mb-0 flex-1">{{ message }}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fa-solid fa-building-flag fa-lg"
                    style="color: #000000;"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span
                        class="bg-200 dark__bg-1100 pe-3">Notas</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Nueva Nota</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <div class="card theme-wizard h-100 mb-5">
            <div class="card-body py-4" id="wizard-controller">
                <div class="tab-content">
                    <div class="tab-pane active px-sm-3 px-md-5" role="tabpanel"
                        aria-labelledby="bootstrap-wizard-validation-tab1" id="bootstrap-wizard-validation-tab1">
                        <form method="POST" class="mt-3" novalidate="">
                            {% csrf_token %}
                            <div class="row justify-content-sm-center">
                                <div class="col-md-10">
                                    <label for="id_subject"
                                        class="col col-form-label d-flex justify-content-between align-items-center">
                                        <span>Asunto</span>
                                    </label>
                                    <div class="mb-3">
                                        {{ form.subject }}
                                    </div>
                                    {% if form.subject.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {% for error in form.subject.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row justify-content-sm-center">
                                <div class="col-md-10 my-2">
                                    <label for="id_subject"
                                        class="col col-form-label d-flex justify-content-between align-items-center">
                                        <span>Descripción</span>
                                    </label>
                                    <div class="mb-3">
                                        {{ form.description }}
                                    </div>
                                    {% if form.description.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {% for error in form.description.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-md-10 my-2">
                                    <label for="id_subject"
                                        class="col col-form-label d-flex justify-content-between align-items-center">
                                        <span>Sucursal</span>
                                    </label>
                                    <div class="mb-3">
                                        {{ form.branch }}
                                    </div>
                                    {% if form.branch.errors %}
                                    <div class="alert alert-warning" role="alert">
                                        {% for error in form.branch.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary" name="submit">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}

{% block extra_js %}
{% endblock extra_js %}