{% extends 'core/base.html' %}

{% block title %}Punto de venta{% endblock title %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'sales/css/customerSearch.css' %}">
<link rel="stylesheet" href="{% static 'sales/css/pos_products_select.css' %}">

{% endblock extra_css  %}

{% block main %}
    {% include 'sales/components/point_of_sale_view.html' %}
{% endblock main %}

{% block extra_js %}
<script src="{% static 'sales/js/modals_handle_payment_method.js' %}"></script>
<script src="{% static 'sales/js/dinamic_create_payment_method.js' %}"></script>
<script src="{% static 'sales/js/dynamic_create_customer.js' %}"></script>
<script src="{% static 'sales/js/search_customers.js' %}"></script>
<script src="{% static 'sales/js/pos_products_select.js' %}"></script>
<script src="{% static 'sales/js/add-other-payment.js' %}"></script>
<script src="{% static 'sales/js/sum-payments.js' %}"></script>

{% endblock extra_js %}