/* Estilo para el grupo de botones de radio */
.radio-group {
	display: inline-block;
	margin-right: 10px; /* Espacio entre los grupos de botones */
}

/* Oculta los botones de radio nativos */
.radio-group input[type="radio"] {
	display: none;
}

/* Estilo para la etiqueta personalizada (caja) */
.radio-group label {
	display: inline-block;
	padding: 8px 16px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
	cursor: pointer;
}

/* Estilo para la etiqueta cuando se selecciona */
.radio-group input[type="radio"]:checked + label {
	background-color: #007bff;
	color: #fff;
	border-color: #007bff;
}
