<div class="col" style="min-width: 12rem">
    <div class="card overflow-hidden" style="min-width: 12rem">
        <div class="bg-holder bg-card"
            style="background-image:url('../../../../static/dashboard/img/corner-1.png');">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <h6>Customers<span class="badge badge-soft-warning rounded-pill ms-2">-0.23%</span></h6>
            <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-warning"
                data-countup='{"endValue":58.386,"decimalPlaces":2,"suffix":"k"}'>58.39k</div><a
                class="fw-semi-bold fs--1 text-nowrap" href="../app/e-commerce/customers.html">Mostrar todo<span
                    class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
        </div>
    </div>
</div>