<div class="col" style="min-width: 12rem">
    <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url('../../../../static/dashboard/img/corner-3.png');">
    </div>
    <!--/.bg-holder-->

    <div class="card-body position-relative">
        <h6>Ingresos<span class="badge badge-soft-success rounded-pill ms-2"></span></h6>
        <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-success" data-countup='{"endValue":43594,"prefix":"$"}'>${{suma_total_ventas}}</div>
        <!-- <a class="fw-semi-bold fs--1 text-nowrap" href="../index.html">Estadisticas<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a> -->
    </div>
    </div>
</div>