{% load static %}
{% load humanize %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% include 'core/components/messages.html' %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    Card con la presentacion de la caja-->
    <!-- ===============================================-->
		<div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
			<div class="card theme-wizard h-100 mb-5">     
				<div class="card-body py-4" id="wizard-controller">
					<div class="tab-content">
						<div class="tab-pane active px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-validation-tab1" id="bootstrap-wizard-validation-tab1">
							<form class="mt-3" method="post">
									{% csrf_token %}
									<div class="mb-3">
											{{form.as_p}}
									</div>
									<button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Guardar cambios</button>
							</form>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>    

    <!-- ===============================================-->
    <!--   Fin Card con la presentacion de la caja-->
    <!-- ===============================================-->

</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->




