{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}


{% block main %}
   
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.level_tag == "success" %} alert-success {% else %} alert-warning {% endif %} border-2 d-flex align-items-center" role="alert">
            <div class="{% if message.level_tag == "success" %} bg-success {% else %} bg-warning {% endif %}  me-3 icon-item"><span class="{% if message.level_tag == "success" %} far fa-check-circle {% else %} fas fa-exclamation-circle {% endif %} text-white fs-3"></span></div>
            <p class="mb-0 flex-1">{{ message }}</p>
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)-->
    <!-- ===============================================-->
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4">
            <span class="fa-stack me-2 ms-n1">
                <i class="fas fa-circle fa-stack-2x text-300"></i>
                <i class="fa-inverse fa-stack-1x text-primary fas fa-box"></i>
            </span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Producto</span><span
                class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aquí puede crear el producto</p>          
            </div>
        </div>
    </div>
    <!-- ===============================================-->
    <!--    Formulario de Producto/Caracteristica   -->
    <!-- ===============================================-->
		<div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
			<div class="card theme-wizard h-100 mb-5">     
				<div class="card-body py-4" id="wizard-controller">
					<div class="tab-content">
						<div class="tab-pane active px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-validation-tab1" id="bootstrap-wizard-validation-tab1">
            <form class="mt-3" method="post">
                {% csrf_token %}
                <div class="mb-3">

                    <!-- ===============================================-->
                    <!--              ETAPA 1: SUCURSAL                 -->
                    <!-- ===============================================-->
                    <label for="id_name" class="form-label">Nombre</label>
                    {{ form.branch}}


                    <!-- ===============================================-->
                    <!--              ETAPA 2: MARCA                    -->
                    <!-- ===============================================-->
                    <label for="id_brand" class="form-label">Marca</label>
                    <div class="input-group">
                        {{ form.brand }}
                        <button id="addBrand" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Product-brand-modal">+</button>
                    </div>
                    

                    <!-- ===============================================-->
                    <!--              ETAPA 3: CATEGORIA                -->
                    <!-- ===============================================-->
                    <label for="id_category" class="form-label">Categoria</label>
                        <div class="input-group">
                            {{ form.category }}
                            <button id="addCategory" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Product-category-modal">+</button>
                        </div>


                    <!-- ===============================================-->
                    <!--      ETAPA 1: PRODUCTO Y CARACTERISTICAS       -->
                    <!-- ===============================================-->
                    <label for="id_name" class="form-label">Nombre</label>
                    {{ form.name}}
                    
                    <label for="id_barcode" class="form-label">Codigo de barra</label>
                    {{ form.barcode}}

                    <label for="id_price" class="form-label">Precio</label>
                    {{ form.price}}

                    <label for="id_description" class="form-label">Descripcion</label>
                    {{ form.description}}

                    <label for="id_stock" class="form-label">Stock</label>
                    {{ form.stock}}
                    
                    <label for="id_features" class="form-label">Caracteristicas</label>
                        {{ form.features}}
                </div>
                {% with named_formsets as formset %}
                    {{ formset.management_form }}
                    <script type="text/html" id="variants-template">
                        <tr id="variants-__prefix__" class="hide_all">
                            {% for fields in formset.empty_form.hidden_fields %}
                                {{fields.label}}: {{fields}}
                            {% endfor %}
                            {% for fields in formset.empty_form.visible_fields %}
                                <td>{{fields.label}}: {{fields}}</td>
                            {% endfor %}
                            <td>
                                <button type="button" class="btn btn-danger delete-variant">Borrar</button>
                            </td>
                        </tr>
                    </script>
                    <div class="table-responsive card mt-4">
                        Añadir nuevas caracteristicas
                        <div id="item-variants">
                            {% for formss in formset %}
                                {{ formss.management_form }}
                                <tr id="variants-{{ forloop.counter0 }}" class="hide_all">
                                    {{ formss.id }}
                                    {% for field in formss.visible_fields %}
                                        <td>
                                            {{field.label}}: {{field}}
                                        </td>
                                    {% endfor %}
                                    <td>
                                        {% if formss.instance.pk %}
                                            <button type="button" class="btn btn-danger delete-variant">Delete</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </div>
                        <a href="#" id="add-variant-button" class="btn btn-secondary add-variants">Añadir caracteristica</a>
                    </div>
                {% endwith %}
                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Registrar</button>
            </form>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>    

    <!-- ===============================================-->
    <!--   Fin Card con la presentacion de la caja-->
    <!-- ===============================================-->

    <!-- Modal para crear Category-->
    <div class="modal fade" id="Product-category-modal" tabindex="-1" aria-labelledby="Product-category-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Product-category-modalLabel">Crear Category</h5>
                </div>
                <div class="modal-body">
                    <form id="Product-Category-form" method="post">
                        {% csrf_token %}
                        <label for="id_value" class="form-label">Nombre de la categoria</label>
                        {{ category_form.name }}
                        <!-- Agrega campos y etiquetas del formulario según tus necesidades -->
                        <button class="btn btn-primary" type="button" id="save-category">Guardar</button>
                        <!-- Fin del formulario de creación de Category-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-ft-modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para crear Brand-->
    <div class="modal fade" id="Product-brand-modal" tabindex="-1" aria-labelledby="Product-brand-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Product-brand-modalLabel">Crear Marca</h5>
                </div>
                <div class="modal-body">
                    <form id="Product-Brand-form" method="post">
                        {% csrf_token %}
                        <label for="id_value" class="form-label">Nombre de la marca</label>
                        {{ brand_form.name }}
                        <button class="btn btn-primary" type="button" id="save-brand">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-ft-modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div> 

    <!-- =================================================-->
    <!--   Fin de Formulario de Producto/Caracteristica   -->
    <!-- =================================================-->

</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->
{% endblock main %}


{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'products/js/formset.js' %}"></script> <!-- Agregar este enlace -->
<script src="{% static 'products/js/dinamic_create_category.js' %}"></script>
<script src="{% static 'products/js/dinamic_create_brand.js' %}"></script>
{% endblock extra_js %}