<div id="data-successful-payments" data-successful-payments="{{ monto_por_rango_completado|safe }}"></div>
<div id="data-underpayments" data-underpayments="{{ monto_por_rango_pendiente|safe }}"></div>
<div class="col-lg-12">
    <div class="card rounded-3 overflow-hidden h-100">
        

        
        <div class="card-body bg-line-chart-gradient d-flex flex-column justify-content-between">
            <div class="row align-items-center g-0">
                <div class="col light">
                    <h4 class="text-white mb-0">Hoy ${{suma_total_ventas}}</h4>
                    <p class="fs--1 fw-semi-bold text-white">Ayer <span class="opacity-50">${{suma_total_ventas_ayer}}</span></p>
                </div>
                <div class="col-auto d-none d-sm-block">
                    <select class="form-select form-select-sm mb-3" id="dashboard-chart-select">
                        <option value="all">Todos los pagos</option>
                        <option value="successful" selected="selected">Pagos exitosos</option>
                        <option value="failed">Pagos parciales (señas)</option>
                    </select>
                </div>
            </div>
            <!-- Find the JS file for the following calendar at: src/js/charts/echarts/line-payment.js-->
            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
            <div class="echart-line-payment" style="height:200px" data-echart-responsive="true"></div>
        </div>
    </div>
</div>
