{% if mov_list %}
<div class="col">
    <div class="card z-index-1" id="recentPurchaseTable"
        data-list='{"valueNames":["name","date","time","customer","state","total"],"page":25,"pagination":true}'>
        <div class="card-header">
            <div class="row flex-between-center">
                <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Ultimos movimientos</h5>
                </div>
                <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                    <div id="table-purchases-replace-element">
                        <!-- <button class="btn btn-falcon-default btn-sm me-2" type="button"><span class="fas fa-plus"
                                data-fa-transform="shrink-3 down-2"></span><span
                                class="d-none d-sm-inline-block ms-1">Nuevo</span></button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-0 py-0">
            <div class="table-responsive scrollbar">
                <table class="table table-sm fs--1 mb-0 overflow-hidden">
                    <thead class="bg-200 text-900">
                        <tr>
                            {% for column in columns_mov %}
                                <th class="sort pe-1 align-middle white-space-nowrap {% if column == 'Tipo' %}text-center{% endif %} 
                                {% if column != 'Por' and column != 'Tipo' and column != 'Monto' %}d-none d-sm-table-cell{% endif %}">{{column}}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="list" id="table-purchase-body">
                        {% for mov in mov_list %}
                        <tr class="btn-reveal-trigger">
                            <th class="align-middle white-space-nowrap name">{{mov.user_made}}</th>
                            <td class="align-middle white-space-nowrap d-none d-sm-table-cell date">{{mov.created_at.date}}</td>
                            <td class="sort pe-1 align-middle white-space-nowrap d-none d-sm-table-cell time">{{mov.created_at|time}}</td>
                            <td class="align-middle white-space-nowrap d-none d-sm-table-cell description">{{mov.description}}</td>
                            <td class="align-middle text-center fs-0 white-space-nowrap type_operation"><span
                                class="badge badge rounded-pill {% if mov.type_operation == 'Ingreso' %}badge-soft-success{% else %}badge-soft-danger{% endif %}">{{mov.type_operation}}</span>
                            </td>
                            <td class="align-middle white-space-nowrap amount">{{mov.amount}}</td>
                            <td class="align-middle white-space-nowrap text-end">
                                <div class="d-flex gap-2 py-1">
                                    <a href="{% url 'cashregister_app:movements_detail_view' mov.pk %}" class="btn btn-sm btn-falcon-default"><span class="fas fa-eye"></span></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>

{% else %}


<div class="col">
    <div class="card z-index-1" id="recentPurchaseTable">
        <div class="card-header">
            <div class="row flex-between-center">
                <div class="col-6 col-sm-auto d-flex align-items-center pe-0">
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Ultimos movimientos</h5>
                </div>
                <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                    <div id="table-purchases-replace-element">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-light px-0 py-1 mt-2">
            <div>
                <h3 class="text-700 mb-1 ps-4">Aún no hay movimientos</h3>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>



{% endif %}