{% extends 'core/base.html' %}

{% block title %}Sucursales{% endblock title %}

{% block extra_css %}
{% load static %}

{% endblock extra_css %}

{% block main %}


<div class="container py-4">
    {% include 'core/components/messages.html' %}
    
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fa-solid fa-building-flag fa-lg"
                    style="color: #000000;"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span
                        class="bg-200 dark__bg-1100 pe-3">Sucursales</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aquí se visualizan las sucursales registradas</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <div class="card theme-wizard h-100 mb-5">
            <div class="card-body py-4" id="wizard-controller">
                {% if branches %}
                <div class="card-body px-0 py-0">
                    <div class="table-responsive scrollbar">
                        <table class="table table-sm fs--1 mb-0 overflow-hidden ">
                            <thead class="bg-200 text-900">
                                <tr>
                                    <!--<th class="white-space-nowrap">
                                        <div class="form-check mb-0 d-flex align-items-center">
                                            <input class="form-check-input" id="checkbox-bulk-purchases-select"
                                                type="checkbox"
                                                data-bulk-select='{"body":"table-purchase-body","actions":"table-purchases-actions","replacedElement":"table-purchases-replace-element"}' />
                                        </div>
                                    </th>-->
                                    <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Nombre
                                    </th>
                                    <th class="sort pe-1 align-middle white-space-nowrap" data-sort="email">Direccion
                                    </th>
                                    <th class="sort pe-1 align-middle white-space-nowrap" data-sort="payment">Horario de
                                        apertura
                                    </th>
                                    <th class="sort pe-1 align-middle white-space-nowrap" data-sort="amount">Horario de
                                        Cierre</th>
                                    <th class="no-sort pe-1 align-middle data-table-row-action"> Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="list" id="table-purchase-body">
                                {% for branch in branches %}
                                <tr class="btn-reveal-trigger">
                                    <!--<td class="align-middle" style="width: 28px;">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="checkbox" id="recent-purchase-0"
                                                data-bulk-select-row="data-bulk-select-row" />
                                        </div>
                                    </td>-->
                                    <th class="align-middle white-space-nowrap name">{{ branch.name }}</th>
                                    <td class="align-middle white-space-nowrap address">{{ branch.address }}</td>
                                    <td class="align-middle white-space-nowrap open_hs">{{ branch.open_hs }}
                                    </td>
                                    <td class="align-middle white-space-nowrap close_hs">{{ branch.close_hs }}
                                    </td>
                                    <td class="align-middle white-space-nowrap text-center">
                                        <div class="dropstart font-sans-serif position-static d-inline-block">
                                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                                <span class="fas fa-ellipsis-h fs--1"></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown0">
                                                <a class="dropdown-item" href="{% url 'branches_app:branch_detail' pk=branch.pk %}">Detalle</a>
                                                <a class="dropdown-item" href="{% url 'branches_app:update_branch' pk=branch.pk %}">Editar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <!--<div class="col">
                            <p class="mb-0 fs--1">
                                <span class="d-none d-sm-inline-block me-2">
                                    {% if page_obj.has_previous %}
                                    <a class="btn btn-sm btn-primary" href="?page=1">Primera</a>
                                    <a class="btn btn-sm btn-primary"
                                        href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                    {% endif %}
                                </span>
                                <span class="d-none d-sm-inline-block me-2">&mdash; </span>
                                <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                                <span class="d-none d-sm-inline-block me-2">&mdash; </span>
                                <span>Total {{ page_obj.paginator.count }} sucursales</span>
                                <span class="d-none d-sm-inline-block me-2">&mdash; </span>
                                <a class="fw-semi-bold" href="?page=1">Ver todo</a>
                            </p>
                        </div>-->
                        <div class="col-auto d-flex">
                            <span class="d-none d-sm-inline-block me-2">
                                {% if page_obj.has_next %}
                                <a class="btn btn-sm btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                <a class="btn btn-sm btn-primary"
                                    href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="text-center py-5">
                <h3>No hay sucursales disponibles</h3>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock main %}

{% block extra_js %}
{% endblock extra_js %}