<div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-header d-flex flex-between-center bg-light py-2">
        <h6 class="mb-0">Usuarios activos</h6>
        <div class="dropdown font-sans-serif btn-reveal-trigger">
          <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-active-user" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
          <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-active-user"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
          </div>
        </div>
      </div>
      <div class="card-body py-2">
        <div class="d-flex align-items-center position-relative mb-3">
          <div class="avatar avatar-2xl status-online">
            <img class="rounded-circle" src="assets/img/team/1.jpg" alt="" />

          </div>
          <div class="flex-1 ms-3">
            <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">Emma Watson</a></h6>
            <p class="text-500 fs--2 mb-0">Admin</p>
          </div>
        </div>
        <div class="d-flex align-items-center position-relative mb-3">
          <div class="avatar avatar-2xl status-online">
            <img class="rounded-circle" src="assets/img/team/2.jpg" alt="" />

          </div>
          <div class="flex-1 ms-3">
            <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">Antony Hopkins</a></h6>
            <p class="text-500 fs--2 mb-0">Moderator</p>
          </div>
        </div>
        <div class="d-flex align-items-center position-relative mb-3">
          <div class="avatar avatar-2xl status-away">
            <img class="rounded-circle" src="assets/img/team/3.jpg" alt="" />

          </div>
          <div class="flex-1 ms-3">
            <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">Anna Karinina</a></h6>
            <p class="text-500 fs--2 mb-0">Editor</p>
          </div>
        </div>
        <div class="d-flex align-items-center position-relative mb-3">
          <div class="avatar avatar-2xl status-offline">
            <img class="rounded-circle" src="assets/img/team/4.jpg" alt="" />

          </div>
          <div class="flex-1 ms-3">
            <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">John Lee</a></h6>
            <p class="text-500 fs--2 mb-0">Admin</p>
          </div>
        </div>
        <div class="d-flex align-items-center position-relative false">
          <div class="avatar avatar-2xl status-offline">
            <img class="rounded-circle" src="assets/img/team/5.jpg" alt="" />

          </div>
          <div class="flex-1 ms-3">
            <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">Rowen Atkinson</a></h6>
            <p class="text-500 fs--2 mb-0">Editor</p>
          </div>
        </div>
      </div>
      <div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link d-block w-100 py-2" href="app/social/followers.html">All active users<span class="fas fa-chevron-right ms-1 fs--2"></span></a></div>
    </div>
  </div>