{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.8/lottie.min.js"></script>
{% endblock extra_css  %}

{% block main %}
    {% include 'cashregister/components/cashregister_arching_view.html' %}
{% endblock main %}

{% block extra_js %}
    <script src="{% static 'cashregister/js/difference_amount.js' %}"></script>
    <script src="{% static 'core/js/disabled-submit.js' %}"></script>
{% endblock extra_js %}