{% load static %}
{% load humanize %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

  <!-- ===============================================-->
  <!--    Errores de Sistema (Backend)-->
  <!-- ===============================================-->

  {% include 'core/components/messages.html' %}

  <!-- ===============================================-->
  <!--    Fin Errores de Sistema (Backend)-->
  <!-- ===============================================-->


  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <!-- Titulo del formulario wizard -->
    <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
          class="fa-inverse fa-stack-1x text-primary fas fa-box"></i></span>
      <div class="col">
        <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Producto</span><span
            class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
        <p class="mb-0">Aqui puede vizualizar un producto</p>
      </div>
    </div>
  </div>


  <!-- ===============================================-->
  <!--    Card con la presentacion de la caja-->
  <!-- ===============================================-->

  {% if product %}
<div class="card mb-3">
  <div class="row mb-3">
      <div class="col-12 col-sm-2 position-relative min-vh-25 mb-7">
        
        <!--/.bg-holder-->
        <div class="avatar avatar-5xl avatar-profile ms-sm-3 mb-sm-5"><img class=" img-thumbnail shadow-sm" src="../../assets/img/team/2.jpg" width="200" alt="Imagen del producto"  /></div>
      </div>
      <div class="col-12 col-sm-10 text-center pt-2">
        <div class="row">
          <div class="col-12 mb-2 text-start">
            <div class="ms-5">
              <h4 class="mb-1"> {{product.name}}<span data-bs-toggle="tooltip" data-bs-placement="right" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
              </h4>
              <h5 class="fs-0 fw-normal">{{product.description}}</h5>
            </div>
          </div>
          <div class=" col-12">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-12">
                    <h5>Detalles del producto</h5>
                  </div>
                  <div class="col-12 sm-text-start sm-ps-2">
                    <div class="row py-sm-2">
                      <div class="col-12 col-sm-6 px-sm-0">
                        cantida: 50
                      </div>
                      <div class="col-12 col-sm-6 px-sm-0">
                        codigo de barra: 230912309
                      </div>
                    </div>
                    <div class="row py-sm-2">
                      <div class="col-12 col-sm-6 px-sm-0">
                        descripcion: {{product.description}}
                      </div>
                      <div class="col-12 col-sm-6 px-sm-0">
                        Proveedor:
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-12">
                    <h5>Caracteristicas</h5>
                  </div>
                  <div class="col-12 sm-text-start sm-ps-2">
                    <div class="row">
                      {% for feature in features  %}
                        <div class="col-12 col-sm-5 py-sm-2">
                          {{feature.type.name}}: {{feature.value}}
                        </div>
                      {% endfor %}
                      
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="row g-0">
    <div class="col-lg-8 pe-lg-2">
      <div class="card mb-3">
        <div class="card-header bg-light">
          <h5 class="mb-0">Ultimas ventas del producto</h5>
        </div>
        <div class="card-body text-justify">
          
        </div>
        <div class="card-footer bg-light p-0 border-top">
          <button class="btn btn-link d-block w-100 btn-intro-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#profile-intro" aria-expanded="true" aria-controls="profile-intro">Show <span class="less">less<span class="fas fa-chevron-up ms-2 fs--2"></span></span><span class="full">full<span class="fas fa-chevron-down ms-2 fs--2"></span></span></button>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 ps-lg-2">
      <div class="sticky-sidebar">
        <div class="card mb-3">
          <div class="card-header bg-light">
            <h5 class="mb-0">Experience</h5>
          </div>
          <div class="card-body fs--1">
            <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/g.png" alt="" width="56" /></a>
              <div class="flex-1 position-relative ps-3">
                <h6 class="fs-0 mb-0">Big Data Engineer<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
                </h6>
                <p class="mb-1"> <a href="#!">Google</a></p>
                <p class="text-1000 mb-0">Apr 2012 - Present &bull; 6 yrs 9 mos</p>
                <p class="text-1000 mb-0">California, USA</p>
                <div class="border-dashed-bottom my-3"></div>
              </div>
            </div>
            <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/apple.png" alt="" width="56" /></a>
              <div class="flex-1 position-relative ps-3">
                <h6 class="fs-0 mb-0">Software Engineer<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
                </h6>
                <p class="mb-1"> <a href="#!">Apple</a></p>
                <p class="text-1000 mb-0">Jan 2012 - Apr 2012 &bull; 4 mos</p>
                <p class="text-1000 mb-0">California, USA</p>
                <div class="border-dashed-bottom my-3"></div>
              </div>
            </div>
            <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/nike.png" alt="" width="56" /></a>
              <div class="flex-1 position-relative ps-3">
                <h6 class="fs-0 mb-0">Mobile App Developer<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
                </h6>
                <p class="mb-1"> <a href="#!">Nike</a></p>
                <p class="text-1000 mb-0">Jan 2011 - Apr 2012 &bull; 1 yr 4 mos</p>
                <p class="text-1000 mb-0">Beaverton, USA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</div>

  {% else %}
  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
    <!--Card-->
    <div class="card bg-transparent-50 overflow-hidden">
      <div class="card-header position-relative">
        <div class="bg-holder d-none d-md-block bg-card z-index-1"
          style="background-image:url(../assets/img/illustrations/ecommerce-bg.png);background-size:230px;background-position:right bottom;z-index:-1;">
        </div>
        <!--/.bg-holder-->

        <div class="position-relative z-index-2">
          <div>
            <h3 class="text-primary mb-1">No hay un producto</h3>
          </div>
          <div class="d-flex py-3">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success d-block w-25 mx-5 mt-4 rounded" href="{% url 'products_app:new_product' %}">Nuevo Producto</a>
      </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- ===============================================-->
<!--   Fin Card con la presentacion de la caja-->
<!-- ===============================================-->

</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->
