{% load static %}
{% load humanize %}




<div class="container py-4">
  {% include 'core/components/messages.html' %}

  <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
      <!-- Titulo del formulario wizard -->
      <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
            class="fa-inverse fa-stack-1x text-primary fas fa-box"></i></span>
        <div class="col">
          <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Detalle del
              producto</span><span
              class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
          <p class="mb-0">Aquí puede visualizar el detalle completo del producto.</p>
        </div>
      </div>
  </div>

    <!-- ===============================================-->
    <!--    Card con la presentacion de la caja-->
    <!-- ===============================================-->

  {% if product %}
    <div class="card mb-3 col-sm-10 col-lg-8">
      <div class="card-header">
          <div class="row pb-md-0">
              <div class="col-12 col-sm-6">
                <h5 class="mb-2"> {{product.name}}</h5>
                <h6>{{product.description}}</h6>
              </div>
          </div>
          <!-- <div class="row mt-2">
              <div class="col">
                  {% if request.user.is_staff %}
                  <a class="btn btn-falcon-default btn-sm" href="#">
                      <span class="fas fa-plus fs--2 me-1"></span>
                      Nuevo Producto
                  </a>
                  <button class="btn btn-falcon-default btn-sm dropdown-toggle ms-2 dropdown-caret-none" type="button"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Editar</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-danger" href="#">Borrar</a>
                  </div>
                  {% endif %}
              </div>
          </div> -->
      </div>
      <div class="card-body border-top">            
          <div class="row">
              <div class="col-lg-6 mb-3 mb-sm-0">
                  <div class="row">
                      <div class="col-12">
                          <h5 class="mb-3">Datos del producto</h5>
                      </div>
                      <div class="col-12 d-flex justify-content-between">
                          <p class="fw-normal fw-semi-bold mb-1">Código de barras:</p>
                          <span class="ms-3 text-800 fw-bold">{{product.barcode}}</span>
                      </div>
                      {% if request.user.is_staff %}
                      <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-between">
                          <p class="fw-normal fw-semi-bold mb-1">Precio de compra:</p>
                          <span class="ms-3 text-800 fw-bold">${{product.cost_price}}</span>
                      </div>
                      {% endif %}
                      <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-between">
                          <p class="fw-normal fw-semi-bold mb-1">Precio de venta:</p>
                          <span class="ms-3 text-800 fw-bold">${{product.sale_price}}</span>
                      </div>
                      <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-between">
                        <p class="fw-normal fw-semi-bold mb-1">Stock:</p>
                        <span class="ms-3 text-800 fw-bold">{{product.stock}}</span>
                      </div>
                      {% if request.user.is_staff %}
                      <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-between">
                        <p class="fw-normal fw-semi-bold mb-1">Marca:</p>
                        <span class="ms-3 text-800 fw-bold">{{product.brand}}</span>
                      </div>
                      <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-between">
                        <p class="fw-normal fw-semi-bold mb-1">Categoría:</p>
                        <span class="ms-3 text-800 fw-bold">{{product.category}}</span>
                      </div>
                      <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-between">
                        <p class="fw-normal fw-semi-bold mb-1">Proveedor:</p>
                        <span class="ms-3 text-800 fw-bold">El drogao de la esquina</span>
                      </div>
                      {% endif %}

                  </div>
              </div>
              <div class="col-lg-6 ps-sm-4 pt-2 pt-sm-0 border-top border-sm-0">
                <div class="row mt-3 mt-sm-0">
                  <div class="col-12">
                      <h5 class="mb-0">Caracteristicas</h5>
                  </div>
                  {% if features.items %}
                  <div class="col-12 sm-text-start">
                    <div class="row">
                      {% for feature, objects in features.items %}
                      <div class="col-6 d-inline pt-3">
                        <p class="fw-normal fw-semi-bold mb-1">{{feature}}:</p>
                          {% for object in objects %}
                          <div class="col-12">
                            <span class="ms-1 text-800 fw-bold d-inline-block">• {{object}}</span>
                          </div>
                          {% endfor %}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% else %}
                  <h6 class="mb-2">Este producto aún no tiene caracteristicas.</h6>
                  {% endif %}
                </div>
              </div>
          </div>
      </div>
  </div>
    

    {% else %}
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
      <!--Card-->
      <div class="card bg-transparent-50 overflow-hidden">
        <div class="card-header position-relative">
          <div class="bg-holder d-none d-md-block bg-card z-index-1"
            style="background-image:url(../assets/img/illustrations/ecommerce-bg.png);background-size:230px;background-position:right bottom;z-index:-1;">
          </div>
          <div class="position-relative z-index-2">
            <div>
              <h3 class="text-primary mb-1">No hay un producto</h3>
            </div>
            <div class="d-flex py-3">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-success d-block w-25 mx-5 mt-4 rounded" href="{% url 'products_app:new_product' %}">Nuevo
            Producto</a>
        </div>
      </div>
    </div>
  {% endif %}

</div>


