<div class="container mt-4">
	<h2>Actualizar Precio Avanzado</h2>
	<form id="update-price-form" method="post">
			{% csrf_token %}

			<!-- Opciones de selección -->
			<div>
				<div class="radio-group">
						<input type="radio" name="search_type" value="brand" id="id_search_type_brand" required>
						<label for="id_search_type_brand">Marca</label>
				</div>
				<div class="radio-group">
						<input type="radio" name="search_type" value="category" id="id_search_type_category" required>
						<label for="id_search_type_category">Categoría</label>
				</div>
			</div>
		
			

			<!-- Buscador en tiempo real -->

			<div id="search-container" data-url="{% url 'products_app:search_categories_or_brands' %}">
			
					<div class="mt-3">
							<label for="search">Buscar:</label>
							<input type="text" id="search" name="search" class="form-control" />
					</div>
			</div>
			<!-- Resultados de búsqueda -->
			<div class="brand-categorie-container mt-3" id="search-results">
					<!-- Los resultados se mostrarán aquí -->
			</div>

			<!-- Input para el porcentaje -->
			<div class="mt-3 percentage-input">
					<label for="percentage">Porcentaje de aumento:</label>
					<input
							min="0"
							max="100"
							type="text"
							id="percentage"
							name="percentage"
							class="form-control"
							required=""
							pattern="\d+(\.\d{1,2})?"
							title="Ingrese un número positivo con hasta 2 decimales"
					/>
			</div>

			<!-- Botón para actualizar precios -->
			<div class="mt-3">
					<button type="submit" class="btn btn-primary" id="update-price-btn" disabled>
							Actualizar Precios
					</button>
			</div>
	</form>
</div>
