{% extends 'core/base.html' %}

{% block extra_css %}
{% load static %}

{% endblock extra_css %}

{% block main %}

<div class="container py-4">
    {% include 'core/components/messages.html' %}

    <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
                class="fa-inverse fa-stack-1x text-primary fas fa-eye"></i></span>
        <div class="col">
            <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Detalle del Cliente</span><span
                    class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
            <p class="mb-0">Aquí puede visualizar el detalle completo del cliente</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <div class="row pb-md-0">
                <div class="col-12 col-sm-6">
                    <h5 class="mb-2">{{ customer.last_name }}, {{ customer.first_name }}</h5>
                    <p class="text-700 fs--2">
                        Cliente registrado por
                        {% if customer.user_made.employee_type %}
                            <a href="{% url 'employees_app:profile_employee' customer.user_made.pk  %}">{{customer.user_made}}</a>
                        {% else %}
                            {{customer.user_made}}</span>
                        {% endif %}
                        <span class="">el {{ customer.created_at }}</span>
                    </p>
                </div>
                <div class="col-sm-6 text-md-end">
                    {% if not customer.has_credit_account %}
                        <button type="button" class="btn btn-sm btn-falcon-default" data-bs-toggle="modal" data-bs-target="#confirm-modal">
                            <span class="fas fa-wallet"></span>
                            Abrir cuenta corriente
                        </button>
                    {% endif %}
                </div>
                <!-- Modal para confirmar apertura caja corriente-->
                <div class="modal fade" id="confirm-modal" tabindex="-1" aria-labelledby="confirm-modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" action="{% url 'clients_app:open_credit_account' customer.pk %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar apertura</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <p>¿Estas seguro de abrir una cuenta corriente a <span class="text-warning">{{customer.get_full_name}}</span>?</p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    {% if request.user.is_staff %}
                    <a class="btn btn-falcon-default btn-sm" href="{% url 'clients_app:customer_new' %}">
                        <span class="fas fa-plus fs--2 me-1"></span>
                        Nuevo Cliente
                    </a>
                    <button class="btn btn-falcon-default btn-sm dropdown-toggle ms-2 dropdown-caret-none" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-ellipsis-h"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'clients_app:customer_update' customer.pk %}">Editar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{% url 'clients_app:customer_delete' customer.pk %}">Borrar</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body border-top">
            {% if customer.has_credit_account %}
                <div class="row pb-2">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h5 class="mb-3 pe-2 pe-md-0">Cuenta corriente <span class="fw-semi-bold fs-3 text-success d-block d-md-inline">$ {{customer.credit_balance}}</span></h5>
                            <div class = "d-flex flex-column flex-md-row justify-content-start align-items-start align-items-md-center">
                                <button type="button" class="btn btn-falcon-default btn-sm me-md-1" data-bs-toggle="modal" data-bs-target="#confirm-modal-registrar">
                                    <span class="fas fa-wallet"></span>
                                    Registrar pago
                                </button>
                                <!-- Modal para confirmar apertura caja corriente-->
                                <div class="modal fade" id="confirm-modal-registrar" tabindex="-1" aria-labelledby="confirm-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form method="post" action="{% url 'clients_app:pay_credits' customer.pk %}">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar pago</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Total a pagar: <span class="text-warning"> ${{customer.credit_balance}} </span></p>
                                                    <div class="pb-3">
                                                        <label for="">Monto a pagar</label>
                                                        <div class="form-group">
                                                            {{pay_form.amount}}
                                                        </div>
                                                    </div>
                                                    <div class="pb-3">
                                                        <div class="row align-items-center">
                                                            <label for="">Seleccione el metodo de pago</label>
                                                            <div class="col-9">
                                                                <div class="form-group">
                                                                    {{pay_form.payment_method}}
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <!--Boton para modal de metodo de pago-->
                                                                <button id="addPaymentMethod" class="btn btn-falcon-default btn-sm" type="button" data-bs-toggle="tooltip" data-bs-target="#payment-method-modal" data-bs-original-title="Añadir nueva metodo de pago" style="cursor: pointer"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pb-3">
                                                        <label for="">Descripcion</label>
                                                        <div class="form-group">
                                                            {{pay_form.description}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--<a class="btn btn-falcon-default btn-sm me-md-1 " href="{% url 'clients_app:pay_credits' customer.pk %}">
                                    Registrar pago
                                </a>-->
                                
                                {% if request.user.is_staff %}
                                <button type="button" class="btn btn-warning mt-2 mt-md-0 btn-sm ms-md-1" data-bs-toggle="modal" data-bs-target="#confirm-modal-cerrar">
                                    <span class="fas fa-wallet"></span>
                                    Cerrar cuenta
                                </button>
                                <div class="modal fade" id="confirm-modal-cerrar" tabindex="-1" aria-labelledby="confirm-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form method="post" action="{% url 'clients_app:close_credit_account' customer.pk %}">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Cerrar cuenta</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Estas seguro de cerrar la cuenta de <span class="text-warning">{{customer.get_full_name}}</span>?</p>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--<a class="btn btn-warning mt-2 mt-md-0 btn-sm ms-md-1" href="{% url 'clients_app:close_credit_account' customer.pk %}">
                                    Cerrar cuenta
                                </a>-->
                                {% endif %}
                            </div>
                                
                        </div>
                    </div>
                </div>
                <hr class="">
            {% endif %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="mb-3">Datos personales</h5>
                        </div>
                        <div class="col-12 pt-1 d-flex justify-content-sm-start justify-content-between">
                            <p class="col-sm-3 fw-normal fw-semi-bold mb-1">DNI/CUIL/CUIT:</p>
                            <span class="ms-3 text-800 fw-bold">{{customer.dni}} </span>
                        </div>
                        <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-sm-start justify-content-between">
                            <p class="col-sm-3 fw-normal fw-semi-bold mb-1">Fecha de Nacimiento:</p>
                            <span class="ms-3 text-800 fw-bold d-none d-sm-block">{{ customer.birth_date}}</span>
                            <span class="ms-3 text-800 fw-bold d-sm-none">{{ customer.birth_date|date:"d/m/Y" }}</span>
                        </div>
                        <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-sm-start justify-content-between">
                            <p class="col-sm-3 fw-normal fw-semi-bold mb-1">Teléfono:</p>
                            <span class="ms-3 text-800 fw-bold">
                                {% if customer.phone_number %}
                                    <a href="https://wa.me/{{customer.phone_code}}{{ customer.phone_number }}">{{customer.phone_code}}{{ customer.phone_number }}</a>
                                {% else %}
                                    Sin dato
                                {% endif %}
                            </span>
                        </div>
                        <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-sm-start justify-content-between">
                            <p class="col-sm-3 fw-normal fw-semi-bold mb-1">Domicilio:</p>
                            <span class="ms-3 text-800 fw-bold">{% if customer.address %}{{ customer.address }}{% else %}Sin dato{% endif %}</span>
                        </div>
                        <div class="col-12 pt-1 pt-sm-0 d-flex justify-content-sm-start justify-content-between">
                            <p class="col-sm-3 fw-normal fw-semi-bold mb-1">Correo:</p>
                            <span class="ms-3 text-800 fw-bold">{% if customer.email %}{{ customer.email }}{% else %}Sin dato{% endif %}</span>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col mt-4 d-flex flex-column flex-sm-row align-content-center ">
                            <h5 class="mb-3">Obra Social:&nbsp;
                                {% if request.user.is_staff %}
                                <a href="{% url 'clients_app:customer_update' customer.id %}"></a>
                                {% endif %}
                            </h5>
                            {% if customer.customer_insurance.all %}
                            {% for insurance in customer.customer_insurance.all %}
                            <p class="ms-sm-2 text-900 fw-bold d-inline">
                                <a href="{% url 'clients_app:hi_detail' insurance.h_insurance.pk %}"
                                    class="text-decoration-none">
                                    {{ insurance.h_insurance.name }}
                                </a>
                            </p>
                            {% endfor %}
                            {% else %}
                            <p class="fw-lighter fst-italic">No hay obras sociales registradas</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row my-0">
                        <small class="fs--2 py-0 my-0">El cliente puede tener<span
                                class="text-warning"> más de una obra social.</span></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-12 col-xxl-12 h-100">
        <div class="card border-top z-index-1 mb-3" id="recentPurchaseTable"
            data-list='{"valueNames":["user_made","armazon","email","is_done"],"page":25,"pagination":true}'>
            <div class=" card-header">
                <div class="row flex-between-center">
                    <div class="row">
                        <div class="col">
                            <h5 class="mb-2">Ordenes de servicio</h5>
                        </div>
                    </div>
                    {% if service_orders %}
                    <div class="col-6 col-sm-auto d-flex align-items-center pe-0 ">
                        <div>
                            <form>
                                <div class="input-group">
                                    <input class="form-control form-control-sm shadow-none search" type="search"
                                        placeholder="Buscar" aria-label="search" />
                                    <div class="input-group-text bg-transparent"><span
                                            class="fa fa-search fs--1 text-600"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-6 col-sm-auto ms-auto text-end ps-0">
                        {% if service_orders %}
                        <div id="table-purchases-replace-element">
                            <a class="btn btn-falcon-default btn-sm" href="{% url 'clients_app:export_service_orders' customer.id %}" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Exportar</span></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="border-top">
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            {% if service_orders %}
                            <div class="table-responsive scrollbar">
                                <table class="table table-sm fs--1 mb-0 overflow-hidden ">
                                    <thead class="bg-200 text-900">
                                        <tr>
                                            <th class="sort align-middle px-4 user_made white-space-nowrap"
                                                data-sort="user_made">
                                                Por
                                            </th>
                                            <th class="sort align-middle created_at white-space-nowrap px-4"
                                                data-sort="Fecha">
                                                Creado
                                            </th>
                                            <th class="sort align-middle armazon white-space-nowrap px-4 "
                                                data-sort="armazon">
                                                Armazon
                                            </th>
                                            <th class="sort align-middle is_done px-4 white-space-nowrap "
                                                data-sort="is_done">
                                                Estado
                                            </th>
                                            <th class="align-start type_operation white-space-nowrap"> Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list" id="table-purchase-body">
                                        {% for service_order in service_orders %}
                                            <tr class="btn-reveal-trigger">
                                                <th class="align-start user_made">{{ service_order.user_made }}</th>
                                                <th class="align-start created_at">{{ service_order.created_at | date:"d-m-Y" }}</th>
                                                <td class="align-start armazon">{{ service_order.armazon.name }}</td>
                                                <td class="align-start is_done">
                                                    <p class="h6">
                                                        {% if service_order.is_done %}
                                                            <span class="badge rounded-pill badge-soft-success fs--1">Entregado</span>
                                                        {% elif service_order.sale.state == 'PENDIENTE' %}
                                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#pay-registrar-{{service_order.pk}}">
                                                                Pagar pendiente
                                                            </button>
                                                        {% else %}
                                                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#entrega-{{service_order.pk}}">
                                                                Click Entregar
                                                            </button>
                                                        {% endif %}
                                                    </p>
                                                </td>
                                                <td class="align-middle white-space-nowrap text-center">
                                                    <div class="dropstart font-sans-serif position-static d-inline-block">
                                                        <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal float-end" type="button" id="dropdown0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                                            <span class="fas fa-ellipsis-h fs--1"></span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown0">
                                                            <a class="dropdown-item" href="{% url 'clients_app:service_order_detail' service_order.id %}">Detalle</a>
                                                            {% if request.user.is_staff %}
                                                                <a class="dropdown-item" href="{% url 'clients_app:service_order_update' service_order.id %}">Editar</a>
                                                                <a class="dropdown-item" href="{% url 'clients_app:print_service_order' service_order.id %}" target='_blank'>Imprimir</a>
                                                                <a class="dropdown-item text-danger" href="{% url 'clients_app:service_order_delete' service_order.id %}">Eliminar</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <div class="text-center py-5">
                                <p class="h4">No tiene ordenes de servicio</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center justify-content-end">
                    <div class="pagination d-none"></div>
                    <div class="col-auto d-flex ">
                        <button class="btn btn-sm btn-primary" type="button"
                            data-list-pagination="prev"><span>Anterior</span></button>
                        <button class="btn btn-sm btn-primary px-4 ms-2" type="button"
                            data-list-pagination="next"><span>Siguiente</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-12 col-xxl-12 h-100">
        
        {% for sale in sales %}
            {{sale}}
            <button> pagar </button>
        {% endfor %}
            
    </div>
    
</div>


{% for service_order in service_orders %}
    {% if service_order.is_done %}

    {% elif service_order.sale.state == 'PENDIENTE' %}
        <!-- Modal para confirmar apertura caja corriente-->
        <div class="modal fade" id="pay-registrar-{{service_order.pk}}" tabindex="-1" aria-labelledby="pay-registrar-{{service_order.pk}}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'clients_app:pay_service_order' service_order.pk %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="pay-registrar-{{service_order.pk}}Label">Confirmar pago de Orden de Servicio <span class="text-warning">#{{service_order.pk}}</span></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- <small>Total de la Venta: <span class="text-warning">${{service_order.sale.total}}</span></small> -->
                            <p>¿Estás seguro de confirmar el pago de <span class="text-warning"> ${{service_order.sale.missing_balance}} </span> ?</p>

                            <div class="pb-3">
                                <div class="row align-items-center">
                                    <label for="">Seleccione el método de pago</label>
                                    <div class="col-9">
                                        <div class="form-group">
                                            {{pay_form.payment_method}}
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <!-- Botón para modal de método de pago -->
                                        <button id="addPaymentMethod" class="btn btn-falcon-default btn-sm" type="button" data-bs-toggle="tooltip" data-bs-target="#payment-method-modal" data-bs-original-title="Añadir nuevo método de pago" style="cursor: pointer"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-3">
                                <label for="">Descripción</label>
                                <div class="form-group">
                                    {{pay_form.description}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Modal para confirmar apertura caja corriente-->
        <div class="modal fade" id="entrega-{{service_order.pk}}" tabindex="-1" aria-labelledby="entrega-{{service_order.pk}}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'clients_app:service_order_entrega' service_order.pk %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="entrega-{{service_order.pk}}Label">Confirmar Entrega de Orden de Servicio <span class="text-warning">#{{service_order.pk}}</span></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de confirmar entrega?</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
    

<!-- Modal para crear el metod de pago-->
<div class="modal fade" id="payment-method-modal" tabindex="-1" aria-labelledby="payment-method-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="payment-method-modalLabel">Añadir nuevo metodo de pago</h5>
            </div>
            <div class="modal-body">
                <form id="payment-method-form" method="post">
                    {% csrf_token %}
                    <div class="pb-3">
                        <label for="{{ payment_method_form.name.id_for_label }}" class="form-label">Nombre:</label>
                        {{payment_method_form.name}}
                    </div>
                    <div class="pb-3">
                        <label for="{{ payment_method_form.type_method.id_for_label }}" class="form-label">Tipo:</label>
                        {{payment_method_form.type_method}}
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-primary" type="button" id="save-payment-method">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-ft-modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para confirmar apertura caja corriente-->
<div class="modal fade" id="confirm-modal" tabindex="-1" aria-labelledby="confirm-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{% url 'clients_app:open_credit_account' customer.pk %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar apertura</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estas seguro de abrir una cuenta corriente a <span class="text-warning">{{customer.get_full_name}}</span>?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
        </form>
        </div>
    </div>
</div>


{% endblock main %}

{% block extra_js %}
<script src="{% static 'clients/js/print_service_order.js' %}"></script>
<script src="{% static 'sales/js/dinamic_create_payment_method.js' %}"></script>

{% endblock extra_js %}