<div class="container py-4">

    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.level_tag == " success" %} alert-success {% else %} alert-warning {% endif %}
        border-2 d-flex align-items-center" role="alert">
        <div class="{% if message.level_tag == " success" %} bg-success {% else %} bg-warning {% endif %} me-3
            icon-item"><span class="{% if message.level_tag == " success" %} far fa-check-circle {% else %} fas
                fa-exclamation-circle {% endif %} text-white fs-3"></span></div>
        <p class="mb-0 flex-1">{{ message }}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
                    class="fa-inverse fa-stack-1x text-primary fas fa-times-circle"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Elimiacion de caja</span><span
                        class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aquí debe confirmar la elimiación del movimiento que quiere borrar</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-12 col-xxl-12 h-100">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <p class="card-text">EL sistema por ahora no admite la eliminacion de la caja, por seguridad e integridad de sus datos</p>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
    </div>
</div>