<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% include 'core/components/messages.html' %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)-->
    <!-- ===============================================-->


    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!--Titulo -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-lock-open"></i></span>
            <div class="col">
              <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Apertura de caja</span><span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
              <p class="mb-0">Aqui puede realizar la apertura de su caja diaria</p>
            </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--    Card con el formulario-->
    <!-- ===============================================-->

    <div class="col-lg-8 col-xl-12 col-xxl-8 h-100">
        <!--Card-->
        <div class="card theme-wizard h-100 mb-5">
            <!--Card Header-->
            <div class="card-header bg-light pt-3 pb-2">
                <div class="d-flex mb-4">
                    <div class="col">
                        <p class="fs--2 mb-0">Esta apertura solo es para efectivo<a class="link-600 fw-semi-bold" href="#!">{{cashregister.user_made.username}}</a></p>
                    </div>
                </div>
                {% if cashregister %}
                <p class="next">
                    <span class="text-warning">
                        Ya se abrió una caja el dia de hoy.<a href="{% url 'cashregister_app:cashregister_view' %}">Ver aquí</a>
                    </span>
                </p>
            {% endif %}
            </div>
            <!--Card Body-->
            <div class="card-body py-4">
                <div class="tab-content">
                    <div class="tab-pane active px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-validation-tab1" id="bootstrap-wizard-validation-tab1">
                        <form method="post" class="row g-3 needs-validation align-items-center" novalidate="">
                            {% csrf_token %}
                            <div class="col-md-5">
                              <label for="id_initial_balance" class="col-12 col-form-label d-flex justify-content-start align-items-center">
                                  <span class="fa-stack me-2 ms-n1">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa-inverse fa-stack-1x dark__text-white fas fa-cash-register"></i>
                                  </span>
                                  <span>Monto Incial</span>
                              </label>
                              {% if not cashregister %}
                                {{form.initial_balance}}
                                <p class="text-600 fs--2">Ingrese el monto con el que desea abrir su caja</p>
                              {% else %}
                                <input class="form-control" type="number" disabled placeholder="0.00">
                              {% endif %}
                              
                              <div class="valid-feedback">Perfecto!</div>
                              <div class="invalid-feedback">Error. Ingrese un formato correcto. Ejemplo 1500,00 - 14523.23</div>
                            </div>
                            <div class="col-md-5">
                                <label for="id_initial_balance" class="col-12 col-form-label d-flex justify-content-start align-items-center">
                                    <span class="fa-stack me-2 ms-n1">
                                      <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                      <i class="fa-inverse fa-stack-1x dark__text-white fas fa-money-bill-wave"></i>
                                    </span>
                                    <span>Moneda</span>
                                </label>
                                {% if not cashregister %}
                                  {{form.currency}}
                                  <p class="text-600 fs--2">Seleccione la divisa con la que quiere abrir su caja</p>
                                {% else %}
                                  <select class="form-control" disabled>
                                {% endif %}
                                
                                <div class="valid-feedback">Perfecto!</div>
                                <div class="invalid-feedback">Error. Seleccione una divisa</div>
                            </div>
                            <div class="col-md-2">
                                <label for="id_initial_balance" class="col-12 col-form-label d-flex justify-content-start align-items-center">
                                </label>
                                <a href="" class="text-center">
                                    <span class="fa-stack me-2 ms-n1" data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir nueva divisa">
                                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa-inverse fa-stack-1x dark__text-white fas fa-plus"></i>
                                    </span>
                                </a>
                            </div>
                            {% if not cashregister %}
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Abrir caja</button>
                            </div>
                            {% else %}
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit" disabled>Abrir caja</button>
                            </div>
                            {% endif %}
                
                            {% if form.initial_balance.errors %}
                            <div class="col-12">
                                <div class="invalid-feedback">{{ form.initial_balance.errors }}</div>
                            </div>
                            {% endif %}
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--   Fin Card con el formulario-->
    <!-- ===============================================-->

</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->