{% extends 'users/base_users.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main %}



<div class="card">
  <div class="card-body p-4 p-sm-5">
    <div class="row flex-between-center mb-2">
      <div class="col-auto">
        <h5>Iniciar Sesión</h5>
      </div>

    </div>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        {{form.username}}
      </div>
      <div class="mb-3">
        {{form.password}}
      </div>
      <div class="row flex-between-center">
        <div class="col-auto"><a class="fs--1" href="{% url 'users_app:reset_password' %}">¿Olvidaste tu
            contraseña?</a>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Iniciar Sesión</button>
      </div>
    </div>
  </div>


{% endblock main %}
