{% extends 'users/base_users.html' %}
{% load static %}
{% block title %}Logout{% endblock title %}

{% block main %}

<div class="card">
  <div class="card-body p-4 p-sm-5">
    <div class="text-center"><img class="d-block mx-auto mb-4" src="{% static 'users/img/logout.png' %}"
        alt="shield" width="150" />
      <h4>Nos vemos!</h4>
      <p>Tu sesión se cerró correctamente.</p><a class="btn btn-primary btn-sm mt-3"
      href="{% url 'users_app:login' %}"><span class="fas fa-chevron-left me-1"
          data-fa-transform="shrink-4 down-1"></span>Regresar al inicio de sesión</a>
    </div>
  </div>
</div>

{% endblock main %}
