{% extends 'users/base_users.html' %}
{% block title %}Logout{% endblock title %}

{% block main %}

<div class="card">
  <div class="card-body p-4 p-sm-5">
    <h5 class="mb-0">¿Olvidaste tu contraseña?</h5><small>Introduce tu correo y te enviaremos un enlace de
      restablecimiento.</small>
    <form class="mt-4 mb-3" method="post">
      {% csrf_token %}
      <!-- <input class="form-control" type="email" placeholder="Ingresa el correo con el que te registraste" /> -->
      <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Ingresa el correo con el que te registraste">
      <div class="mb-3"></div>
      <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Enviar link para restaurar
        contraseña</button>
    </form>
    <a class="fs--1 text-600" href="#!">No puedo recuperar mi cuenta con esta página<span
        class="d-inline-block ms-1">&rarr;</span></a>
  </div>
</div>


{% endblock main %}