{% extends 'users/base_users.html' %}
{% block title %}Crear cuenta{% endblock title %}

{% block main %}
<main class="main" id="top">
  <div class="container" data-layout="container">
    <div class="row flex-center min-vh-100 py-6">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4"
        href="{% url 'users_app:login' %}"><img src="../../static/core/img/logo_optica_light.png" alt="logo-optica-total"
            width="430" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block"></span></a>
        <div class="card">
          <div class="card-body p-4 p-sm-5">
            <div class="row flex-between-center mb-2">
              <div class="col-auto">
                <h5>Registrar</h5>
              </div>
              <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">¿Ya tienes cuenta?</span> <span><a
                    href="{% url 'users_app:login' %}">Ingresar</a></span></div>
            </div>
            <form method="post" class="row g-3 needs-validation" novalidate>
              {% csrf_token %}
              <div class="mb-3">
                {{form.username}}
              </div>
              <div class="mb-3">
                {{form.email}}
              </div>
              <div class="row gx-2">
                <div class="mb-3 col-sm-6">
                  {{form.password1}}
                </div>
                <div class="mb-3 col-sm-6">
                  {{form.password2}}
                </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Registrarse</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock main %}