{% extends 'users/base_users.html' %}
{% block title %}Crear cuenta{% endblock title %}

{% block main %}

<div class="card">
  <div class="card-body p-4 p-sm-5">
    <div class="row flex-between-center mb-2">
      <div class="col-auto">
        <h5>Registrar</h5>
      </div>
      <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">¿Ya tienes cuenta?</span> <span><a
            href="{% url 'users_app:login' %}">Ingresar</a></span></div>
    </div>
    <form method="post" class="row g-3 needs-validation" novalidate>
      {% csrf_token %}
      {{form.errors}}
      <div class="mb-3">
        {{form.branch}}
      </div>
      <div class="mb-3">
        {{form.first_name}}
      </div>
      <div class="mb-3">
        {{form.last_name}}
      </div>
      <div class="mb-3">
        {{form.dni}}
      </div>
      <div class="mb-3">
        {{form.phone_number}}
      </div>
      <div class="mb-3">
        {{form.address}}
      </div>
      <div class="mb-3">
        {{form.birth_date}}
      </div>
      <div class="mb-3">
        {{form.username}}
      </div>
      <div class="mb-3">
        {{form.email}}
      </div>
      <div class="row gx-2">
        <div class="mb-3 col-sm-6">
          {{form.password}}
        </div>
        <div class="mb-3 col-sm-6">
          {{form.password2}}
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Registrarse</button>
      </div>
    </form>
  </div>
</div>


{% endblock main %}