/* Estilos personalizados para el contenedor de la imagen */
.image-container {
    position: relative;
    overflow: hidden;
}

/* Estilos para la imagen en su estado normal */
.image-container img {
    transition: filter 0.5s ease; /* Transición para suavizar el efecto */
}

/* Estilos para oscurecer la imagen cuando se coloca el mouse sobre ella */
.image-container:hover img {
    filter: brightness(70%); /* Oscurecer la imagen */
}

/* Estilos personalizados para el botón de selección de imagen */
.custom-file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.164); /* Fondo semi transparente */
    cursor: pointer;
    opacity: 0; /* Hacerlo invisible inicialmente */
    transition: opacity 0.3s ease;
    color: rgb(0, 0, 0);
}

/* Estilos para mostrar el botón cuando se coloca el mouse sobre la imagen */
.avatar:hover .custom-file-upload {
    opacity: 1;
}
