{% load static %}
{% load humanize %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.level_tag == "success" %} alert-success {% else %} alert-warning {% endif %} border-2 d-flex align-items-center" role="alert">
            <div class="{% if message.level_tag == "success" %} bg-success {% else %} bg-warning {% endif %}  me-3 icon-item"><span class="{% if message.level_tag == "success" %} far fa-check-circle {% else %} fas fa-exclamation-circle {% endif %} text-white fs-3"></span></div>
            <p class="mb-0 flex-1">{{ message }}</p>
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)--> 
    <!-- ===============================================-->


    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <!-- Titulo de la pestaña -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i
            class="fa-inverse fa-stack-1x text-primary fas fa-store"></i></span>
        <div class="col">
            <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Punto de Venta {{branch_selected}}</span><span
                class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
            <p class="mb-0">Aquí puede realizar sus ventas diarias</p>
        </div>
        </div>
    </div>


    <!-- ===============================================-->
    <!--    Card con la presentacion del punto de venta-->
    <!-- ===============================================-->

    <div class="row g-3">
        <div class="col-xl-4 order-1">
            <div class="card mb-2 p-4">
                <div class="col-xl-12 text-center">
                    <div class="fs-4 fw-semi-bold d-flex justify-content-between">
                        Total:
                        <span class="text-success text-start" id="total-success">$ 0.00</span>
                    </div>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                    <!-- <div>{{form.as_p}}</div> -->
                    <!-- PRODUCTOS: name='product' y el value='id' -->
                    <!-- CANTIDAD: name="cantidad-(id)" -->
                <div class="card">
                    <div class="card-header bg-light btn-reveal-trigger d-flex justify-content-between">
                        <h5 class="mb-0">Detalle de compra</h5>
                        <button class="btn btn-falcon-default btn-sm" type="button" id="button-delete-all" title="Eliminar todo">
                            <span class="fas fa-trash text-danger" data-fa-transform="shrink-3 down-2"></span>
                        </button>
                    </div>
                    
                    <div class="card-body">
                        <div class="px-0 product-sale-item product-container">
                            <table class="table table-borderless fs--1 mb-0">
                                <tbody id="selected-products-list">
                                    <!-- Lista de productos seleccionados -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-between bg-light py-2">
                        <div class="fw-semi-bold">Subtotal</div>
                        <div class="fw-bold" id="subtotal">$ 0.00</div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light py-3">
                        <div class="fw-semi-bold">Descuento</div>
                        <div class="fw-bold" id="discount">$ 0.00</div>
                    </div>
                    <div class="fs-1 card-footer d-flex justify-content-between bg-light py-3">
                        <div class="fw-semi-bold">Total a pagar</div>
                        <div class="fw-bold" id="total">$ 0.00</div>
                    </div>
                </div>
                <div class="card mt-2">
                    <button type="submit" class="btn btn-primary p-2">
                        <span class="fs-2">
                            ir a pagar
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-xl-8">
            <div class="card mb-3">
                <div class="card-header bg-light">
                <div class="row flex-between-center">
                    <div class="col-8">
                        <form>
                            <div class="input-group">
                                <input class="form-control form-control-lg shadow-none search" type="search" placeholder="buscar" aria-label="search" id="search-product" />
                                <div class="input-group-text bg-transparent"><span class="fa fa-search fs--1 text-600"></span></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Limpiar</span></button>
                    </div>
                </div>
                <div class="row">
                    <p class="fs--2 text-700">Ingrese el <span class="text-warning">codigo de barra</span> o el <span class="text-warning">nombre</span> del <span class="text-warning">producto</span></p>
                </div>
                </div>
                <!--Cabecera de los resultados-->
                <div class="row gx-card mx-0 bg-200 text-900 fs--1 fw-semi-bold">
                    <div class="col-12 mb-3 mb-md-0">
                        <div class="row m-0">
                            <div class="col-9 col-md-8 py-2 px-4">Nombre</div>
                            <div class="col-3 col-md-4">
                                <div class="row">
                                    <div class="col-md-8 py-2 d-none d-md-block text-center">Cantidad</div>
                                    <div class="col-12 col-md-4 px-0 py-2">Precio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="product-container" class="product-container m-3">
                    <!-- Lista de productos encontrados -->
                </div>
            </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--   Fin Card con la presentacion de la caja-->
    <!-- ===============================================-->

</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->