{% extends 'core/base.html' %}

{% block title %}Movimientos{% endblock title %}

{% block extra_css %}
{% load static %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.8/lottie.min.js"></script> {% endcomment %}
{% endblock extra_css  %}

{% block main %}
    {% include 'cashregister/components/movements_view.html' %}
{% endblock main %}

{% block extra_js %}
    <script src="{% static 'cashregister/js/ajax_search_movements.js' %}"></script>
{% endblock extra_js %}