{% load static %}
{% load humanize %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

  <!-- ===============================================-->
  <!--    Errores de Sistema (Backend)-->
  <!-- ===============================================-->

  {% include 'core/components/messages.html' %}

  <!-- ===============================================-->
  <!--    Fin Errores de Sistema (Backend)-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--    Card con la presentacion de la caja-->
  <!-- ===============================================-->

  {% if employee %}
    <div class="col-lg-12 col-xl-12 col-xxl-12 h-100">
      <div class="card mb-3">
        <div class="card-header bg-light position-relative min-vh-25 mb-7">
          <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url(https://th.bing.com/th/id/R.1ca61e4de3ae1a9696d495ba9e975d5f?rik=cN5Pt9t9IUDJIQ&pid=ImgRaw&r=0);">
          </div>
          <!--/.bg-holder-->
          <!-- {{form.imagen}} -->
          <div class="avatar avatar-5xl avatar-profile "><img class="rounded-circle img-thumbnail shadow-sm" src="{{ employee.user.imagen.url }}" width="200" alt="Imagen del empleado/admin" />
          </div>
        </div>
        <div class="card-body bg-transparent-50">
          <div class="row">
            <div class="col-lg-8 ms-2">
              <h4 class="mb-1"> {{employee.user}}</h4>
              <h5 class="fs-0 fw-normal">Empleado de Optica Total</h5>
              <p class="text-500">{{employee.user.email}}</p>
              <div class="border-dashed-bottom my-4 d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="row">

        {% if objetives_branch %}
          {% for item in objetives_branch %}
            <div class="col-lg-6">
              <div class="card h-100" dir="ltr">
                <div class="card-header bg-light">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0">Objetivo de Sucursal: <span class="text-primary">{{item.objetive.title}}</span></h5>
                    </div>
                    <div class="col-auto ms-auto">
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <!-- <canvas id="monthObjetive"></canvas> -->
                    <canvas id="monthObjetive" style="max-height: 250px;"></canvas>
                    <div class="text-center pt-3">
                      <h4>$<span id="branch-progress">{{item.accumulated}}</span>/$<span id="branch-objetive">{{item.objetive.quantity}}</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-lg-6">
            <div class="card h-100" dir="ltr">
              <div class="card-header bg-light">
                <div class="row flex-between-end">
                  <div class="col-auto align-self-center">
                    <h5 class="mb-0">Objetivo de Sucursal:</h5>
                  </div>
                  <div class="col-auto ms-auto">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="text-center pt-3">
                    <h4>Aún no se establecieron objetivos</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        {% endif %}
  
  
  
        {% if objetives %}
          {% for item in objetives %}
            <div class="col-lg-6">
              <div class="card h-100" dir="ltr">
                <div class="card-header bg-light">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0">Objetivo personal: <span class="text-primary">{{item.objetive.title}}</span></h5>
                    </div>
                    <div class="col-auto ms-auto">
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <!-- <canvas id="personalObjetive"></canvas> -->
                    <canvas id="myPieGraph" style="max-height: 250px;"></canvas>
                    <div class="text-center pt-3">  
                      <!-- <h4>$<span id="employee-progress-{{forloop.counter}}">{{item.accumulated}}</span>/$<span id="employee-objetive-{{forloop.counter}}">{{item.objetive.quantity}}</span></h4> -->
                      <h4>$<span id="employee-progress">{{item.accumulated}}</span>/$<span id="employee-objetive">{{item.objetive.quantity}}</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
        <div class="col-lg-6">
          <div class="card h-100" dir="ltr">
            <div class="card-header bg-light">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0">Objetivo personal: </span></h5>
                </div>
                <div class="col-auto ms-auto">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="text-center pt-3">
                  <h4>Aún no se establecieron objetivos</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}



      </div>
      

  {% else %}

{% endif %}
</div>


<!-- ===============================================-->
<!--   Fin Card con la presentacion de la caja-->
<!-- ===============================================-->



<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->




