{% load static %} {% load humanize %} {% load custom_filters %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">
    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% include 'core/components/messages.html' %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    <div class="col-12 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4">
        <span class="fa-stack me-2 ms-n1"
            ><i class="fas fa-circle fa-stack-2x text-300"></i
            ><i class="fa-inverse fa-stack-1x text-primary fas fa-eye"></i
        ></span>
        <div class="col">
            <h5 class="mb-0 text-primary position-relative">
            <span class="bg-200 dark__bg-1100 pe-3">Detalle de Caja</span
            ><span
                class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"
            ></span>
            </h5>
            <p class="mb-0">
            Aquí puede vizualizar el detalle completo de la caja y su arqueo correspondiente
            </p>
        </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--    Card con la presentacion del Caja-->
    <!-- ===============================================-->
    <div class="card mb-3">
        <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="mb-2">Caja</h5>
            </div>
            <div class="col-auto ">
                {% if not cashregister.is_close %}
                <span class="badge badge-soft-success rounded-pill mb-2">Abierta</span>
                {% else %}
                <span class="badge badge-soft-danger rounded-pill mb-2">Cerrada</span>
                {% endif %}
                <h6 class="text-uppercase text-center text-600 d-inline">#{{cashregister.pk}}<span class="fas fa-cash-register ms-2"></span></h6>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <a class="btn btn-primary btn-sm" href="{% url 'cashregister_app:cashregister_create_view' %}">
                    <span class="fas fa-plus fs--2 me-1"></span>
                    Abrir Caja
                </a>
                <button class="btn btn-falcon-default btn-sm dropdown-toggle ms-2 dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-ellipsis-h"></span>
                </button>
                <div class="dropdown-menu"><a class="dropdown-item" href="">Editar</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="">Borrar</a>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <p class="text-700 fs--2">
                Abierta por 
                {% if request.user.is_staff %}
                    <a href="{% url 'employees_app:profile_employee' cashregister.user_made.pk  %}">{{cashregister.user_made}} </a>
                {% else %}
                    {{cashregister.user_made}}</span>
                {% endif %}
                <!-- <span class="">el {{ cashregister.date_open|date:"l j \d\e F \d\e\l Y" }} a las {{cashregister.date_open|time }}</span> -->
            </p>
        </div>
        <div class="row mt-2">
            <div class="col-lg col-xxl-5">
            <div class="row">
                <div class="col-5 col-sm-4">
                {% if object.type_operation == 'Ingreso' %}
                <p class="badge rounded-pill badge-soft-success fs-0 fw-semi-bold m-0">{{object.get_type_operation_display}}</p>
                {% else %}
                <p class="badge rounded-pill badge-soft-danger fs-0 fw-semi-bold m-0">{{object.get_type_operation_display}}</p>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="card-body border-top">
        <div class="row">
            <div class="col-lg col-xxl-5">
                <div class="row">
                    <div class="col-6 mt-4 col-sm-4">
                    <p class="fw-normal fw-semi-bold mb-1">Balance final</p>
                    </div>
                    <div class="col mt-4 text-800 fw-bold">{{cashregister.final_balance|custom_intcomma}} {{cashregister.currency.code}}</div>
                </div>
                <div class="row my-0">
                    <p class="fs--2 py-0 my-0 fw-lighter text-600">Este es el <span class="text-warning">monto final</span> con el que se cerro la caja</p>
                </div>
                <div class="row">
                    <div class="col-6 mt-4 col-sm-4">
                    <p class="fw-normal fw-semi-bold mb-1">Balance inicial</p>
                    </div>
                    <div class="col mt-4 text-800 fw-bold">{{cashregister.initial_balance|custom_intcomma}} {{cashregister.currency.code}}</div>
                </div>
                <div class="row my-0">
                    <p class="fs--2 py-0 my-0 fw-lighter text-600">Este es el <span class="text-warning">monto inicial</span> con el que se abrio la caja</p>
                </div>
            </div>
            <div class="col-lg col-xxl-6 mt-4 mt-lg-0 offset-xxl-1">
                <div class="row">
                    <div class="col-6 mt-4 col-sm-4">
                    <p class="fw-normal fw-semi-bold mb-1">Observaciones</p>
                    </div>
                    <div class="col mt-4">
                    <p class="fst-italic text-400 mb-1">{{cashregister.observations}}</p>
                    </div>
                </div>
                <div class="row my-0">
                    <p class="fs--2 py-0 my-0 fw-lighter text-600">Esto es alguna observacion <span class="text-warning">importante</span> como <span class="text-warning">recordatorio</span> cuando cerro la caja</p>
                </div>
            </div>
        </div>
        </div>
        <div class="card-footer border-top py-2 d-flex flex-between-center">
        <p class="fs--2 text-700">Realizado el <span class="text-1000">{{cashregister.date_open|date}}</span></p>
        <p class="fs--2 text-700">Hora <span class="text-1000">{{cashregister.created_at|time}}</span></p>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-0">Movimientos</h5>
        </div>
        <div class="card-body border-top p-0">
            {% for movement in movements %}
                <div class="row g-0 align-items-center border-bottom py-2 px-3">
                    <div class="col-md-auto pe-3">
                        {%if movement.type_operation == 'Ingreso' %}
                            <span class="badge badge-soft-success rounded-pill">{{movement.get_type_operation_display}}</span>
                        {% else %}
                            <span class="badge badge-soft-danger rounded-pill">{{movement.get_type_operation_display}}&nbsp;&nbsp;</span>
                        {% endif %}
                        <a class="btn btn-link d-md-none" href="{% url 'cashregister_app:movements_detail_view' movement.pk %}">ver detalle</a>
                    </div>
                    <div class="col-md mt-1 mt-md-0">
                        <span class="mb-0 text-900 fs-1">$ </span>
                        <span class="mb-0 text-900 fw-bold">{{movement.amount|custom_intcomma}}</span>
                    </div>
                    <div class="col-md-auto">
                        <p class="mb-0 text-700 fs--2">
                            {{movement.date_movement|date:"l j \d\e F \d\e\l Y" }} a las {{movement.created_at|time }}
                            <a class="btn btn-link d-none d-md-inline" href="{% url 'cashregister_app:movements_detail_view' movement.pk %}">ver detalle</a>
                        </p>
                        
                    </div>
                </div>
            {% empty %}
                <div class="row g-0 align-items-center border-bottom py-2 px-3">
                    <p class="mb-0">Esta caja no registro movimientos</p>
                </div>
            {% endfor %}
        </div>
        <div class="card-footer bg-light p-0">
            <a class="btn btn-link d-block w-100" href="{% url 'cashregister_app:movimientos_caja_view' cashregister.id %}">
                Ver todos los movimientos<span class="fas fa-chevron-right fs--2 ms-1"></span>
            </a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-0">Arqueo de caja</h5>
        </div>
        <div class="card-body">
            {% for key_possition, date in archering_data.items %}
                <div class="table-responsive fs--1">
                    {% for key, value in date.items %}
                    <h6>{{ key|date:"l, j F Y H:i" }}</h6>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <span>realizado por 
                        {% if value.0.user_made.employee_type %}
                            <a href="{% url 'employees_app:profile_employee' value.0.user_made.pk  %}">{{value.0.user_made}}</a>
                        {% else %}
                            {{value.0.user_made}}</span>
                        {% endif %}
                        <a href="{% url 'cashregister_app:arching_ticket_view' cashregister.pk key_possition %}" target="_blank">
                            <span class="fas fa-receipt"></span>
                            <span cla>Ticket</span>
                        </a>
                    </div>
                    <table class="table table-striped border-bottom">
                        <thead class="bg-200 text-900">
                            <tr>
                                <th class="border-0">Tipo</th>
                                <th class="border-0 text-center">Monto</th>
                                <th class="border-0 text-end">Conteo</th>
                                <th class="border-0 text-end">Diferencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in value %}
                                <tr class="border-200">
                                    <td class="align-middle">{{ v.type_method }}</td>
                                    <td class="align-middle text-center">{{ v.registered_amount|custom_intcomma }}</td>
                                    <td class="align-middle text-end">{{ v.counted_amount|custom_intcomma }}</td>
                                    <td class="align-middle text-end">{{ v.difference|custom_intcomma }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                <br>
            {% endfor %}
            <!-- <div class="row g-0 justify-content-end">
                <div class="col-auto">
                    <table class="table table-sm table-borderless fs--1 text-end">
                        <tr>
                            <th class="text-900">Subtotal:</th>
                            <td class="fw-semi-bold">$6,230.00 </td>
                        </tr>
                        <tr>
                            <th class="text-900">Tax 5%:</th>
                            <td class="fw-semi-bold">$311.50</td>
                        </tr>
                        <tr class="border-top">
                            <th class="text-900">Total:</th>
                            <td class="fw-semi-bold">$6541.50</td>
                        </tr>
                    </table>
                </div>
            </div> -->
        </div>
    </div>

    <!-- ===============================================-->
    <!--   Fin Card con la presentacion del Caja-->
    <!-- ===============================================-->
</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->
