{% load static %}
{% load humanize %}
<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">
    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% include 'core/components/messages.html' %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    <div class="col-12 h-100">
        <!-- Titulo del formulario wizard -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-calculator"></i></span>
                <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Arqueo de caja</span><span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aquí puede realizar el arqueo de caja antes de cada cambio de turno</p>
                </div>
        </div>
    </div>

    {% if cashregister %}
        <!-- Card -->
        <div class="card theme-wizard h-100 mb-5">
            <div class="card-header bg-light pt-3 pb-2">
                <!-- Cabecera del formulario wizard -->
                <ul class="nav justify-content-between nav-wizard">
                <li class="nav-item"><a class="nav-link active fw-semi-bold" href="#bootstrap-wizard-validation-tab1" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-money-bill-wave"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Efectivo</span></a></li>
                <li class="nav-item"><a class="nav-link fw-semi-bold" href="#bootstrap-wizard-validation-tab2" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-credit-card"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Tarjeta de Credito</span></a></li>
                <li class="nav-item"><a class="nav-link fw-semi-bold" href="#bootstrap-wizard-validation-tab3" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-credit-card"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Tarjeta de Debito</span></a></li>
                <li class="nav-item"><a class="nav-link fw-semi-bold" href="#bootstrap-wizard-validation-tab4" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-university"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Transferencia</span></a></li>
                <li class="nav-item"><a class="nav-link fw-semi-bold" href="#bootstrap-wizard-validation-tab5" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-check-double"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Finalizar arqueo</span></a></li>
                </ul>
            </div>
            <!-- Card body -->
            <div class="card-body py-4" id="wizard-controller">
                <form method="post" novalidate="novalidate">
                    {% csrf_token %}
                <div class="tab-content">
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <!-- Tab {{ forloop.counter }} del Wizard -->
                    <div class="tab-pane px-sm-3 px-md-5 {% if forloop.first %}active{% endif %}" role="tabpanel" aria-labelledby="bootstrap-wizard-validation-tab{{ forloop.counter }}" id="bootstrap-wizard-validation-tab{{ forloop.counter }}">
                    <!-- Formulario -->
                        <span class="form-label text-600 fw-semi-bold">Movimientos en :</span>
                        <p class="fw-bold fs-1 text-900 my-0">{{form.initial.type_method}}</p>
                        <p class="fs--2 fw-lighter text-600">Se consideran <span class="text-warning">todos</span> los movimientos en <span class="text-warning">{{form.initial.type_method|lower}}</span> registrados en la caja</p>
                        <span class="form-label text-600 fw-semi-bold">Total en sistema</span>
                        <p id="{{forloop.counter}}" data-type-method="{{form.initial.type_method|lower}}" class="fw-bold fs-1 text-900 my-0">${{ form.initial.registered_amount|floatformat:2 }}</p>
                        <p class="fs--2 fw-lighter text-600">Total que se registro en la caja en <span class="text-warning">{{form.initial.type_method|lower}}</span></p>
                        <label for="{{ form.counted_amount.id_for_label }}" class="form-label">Total caja fisica</label>
                        {{ form.counted_amount }}
                        <p class="fs--2 fw-lighter text-600">Ingrese el monto que registro en <span class="text-warning">{{form.initial.type_method|lower}}</span> en su caja </p>
                        <label for="difference-{{ form.initial.type_method|lower }}" class="form-label">Diferencia entre ambos</label>
                        <p class="fw-bold fs-1 text-900 my-0"><span id="difference-{{ form.initial.type_method|lower }}">1567</span></p>
                        <p class="fs--2 fw-lighter text-600"><span class="text-warning">Diferencia</span> que existe entre su caja de <span class="text-warning">sistema</span> y su registro <span class="text-warning">manual</span> en <span class="text-warning">{{form.initial.type_method|lower}}</span></p>
                    </div>
                    {% endfor %}
                    <div class="tab-pane text-center px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-validation-tab5" id="bootstrap-wizard-validation-tab5">
                    <div class="wizard-lottie-wrapper">
                        <div class="lottie mx-auto my-3" style="width: 120px; height: 120px" data-options='{"path":"{% static "cashregister/img/animated-icons/check-primary-light.json" %}"}'></div>
                    </div>
                    <h4 class="mb-1">Ha completado el proceso de arqueo!</h4>
                    <p>Ya puede confirmar el cierre de la caja</p><button class="btn btn-warning px-5 px-sm-6" type="submit">Arqueo de caja<span class="fas fa-chevron-right ms-2" data-fa-transform="shrink-3"> </span></button>
                    </div>
                </div>
                </form>
            </div>
            <!-- Card footer -->
            <div class="card-footer bg-light">
                <div class="px-sm-3 px-md-5">
                <ul class="pager wizard list-inline mb-0">
                    <li class="previous">
                    <button class="btn btn-link ps-0" type="button">anterior</button>
                    </li>
                    <li class="next">
                    <button class="btn btn-primary px-5 px-sm-6" type="submit">siguiente</button>
                    </li>
                </ul>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px">
                <div class="modal-content position-relative p-5">
                <div class="d-flex align-items-center">
                    <div class="lottie me-3" data-options='{"path":"{% static "cashregister/img/animated-icons/warning-light.json" %}"}'></div>
                    <div class="flex-1">
                    <button class="btn btn-link text-danger position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal"><span class="fas fa-times"></span></button>
                    <p class="mb-0">Ya no puede volver atras una vez que confirmo el ultimo paso</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-12 h-100">
            <!--Card-->
            <div class="card bg-transparent-50 overflow-hidden">
                <div class="card-header position-relative">
                <div class="bg-holder d-none d-md-block bg-card z-index-1"
                    >
                </div>
                <!--/.bg-holder-->
        
                <div class="position-relative z-index-2">
                    <div>
                    <h5 class="text-primary mb-1">No hay una caja abierta</h5>
                    </div>
                    <div class="d-flex py-3">
                    </div>
                </div>
                </div>
                <div class="card-body">
                <div class="d-flex py-3 justify-content-between">
                    <a href="{% url 'cashregister_app:cashregister_create_view' %}" class="btn btn-primary" type="submit">Abrir
                    caja</a>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    
</div>

<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->