<!-- ===============================================-->
<!--    Contentenedor del block main-->
<!-- ===============================================-->

<div class="container py-4">

    <!-- ===============================================-->
    <!--    Errores de Sistema (Backend)-->
    <!-- ===============================================-->

    {% include 'core/components/messages.html' %}

    <!-- ===============================================-->
    <!--    Fin Errores de Sistema (Backend)-->
    <!-- ===============================================-->


    <div class="col-12 h-100">
        <!--Titulo -->
        <div class="d-flex mb-4"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-lock-open"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Apertura de caja</span><span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">Aqui puede realizar la apertura de su caja diaria</p>
            </div>
        </div>
    </div>

        <!-- ===============================================-->
    <!--    Card con el formulario de la caja-->
    <!-- ===============================================-->

    <div class="col-12 h-100">
        <!--Card-->
        <div class="card theme-wizard h-100 mb-5">
            <!--Card Header-->
            <div class="card-header bg-light pt-3 pb-2">
                <p class="fs--1 mb-0">Esta apertura solo es para efectivo<a class="link-600 fw-semi-bold" href="#!">{{ cashregister.user_made.username }}</a></p>
                
                {% if cashregister %}
                    <p class="next">
                        <span class="text-warning">
                            Ya se abrió una caja el día de hoy.<a href="{% url 'cashregister_app:cashregister_view' %}">Ver aquí</a>
                        </span>
                    </p>
                {% endif %}
            </div>
    
            <!--Card Body-->
            <div class="card-body py-4">
                <div class="tab-content">
                    <div class="tab-pane active px-sm-3 px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-validation-tab1" id="bootstrap-wizard-validation-tab1">
                        <form method="post" class="row g-3 needs-validation align-items-center" novalidate="">
                            {% csrf_token %}
                            <div class="col-md-5">
                                <label for="id_initial_balance" class="col-12 col-form-label d-flex justify-content-start align-items-center">
                                    <span class="fa-stack me-2 ms-n1">
                                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa-inverse fa-stack-1x dark__text-white fas fa-cash-register"></i>
                                    </span>
                                    <span>Monto Inicial</span>
                                </label>
                                {% if not cashregister %}
                                    {{ form.initial_balance }}
                                    <p class="text-600 fs--2">Monto de apertura</p>
                                {% else %}
                                    <input class="form-control" type="number" disabled placeholder="0.00">
                                {% endif %}
                                <div class="valid-feedback">Perfecto!</div>
                                <div class="invalid-feedback">Error. Ingrese un formato correcto. Ejemplo 1500,00 - 14523.23</div>
                            </div>
                            
                            <div class="d-flex align-items-center col-md-7">
                                <div class="col-md-10">
                                    <label for="id_initial_balance" class="col-12 col-form-label d-flex justify-content-start align-items-center">
                                        <span class="fa-stack me-2 ms-n1">
                                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                            <i class="fa-inverse fa-stack-1x dark__text-white fas fa-money-bill-wave"></i>
                                        </span>
                                        <span>Moneda</span>
                                    </label>
                                    {% if not cashregister %}
                                        {{ form.currency }}
                                        <p class="text-600 fs--2">Seleccione divisa</p>
                                    {% else %}
                                        <select class="form-control" disabled></select>
                                    {% endif %}
                                    <div class="valid-feedback">Perfecto!</div>
                                    <div class="invalid-feedback">Error. Seleccione una divisa</div>
                                </div>
                                
                                {% if not cashregister %}
                                    <div class="col-md-2">
                                        <span id="addCurrency" class="fa-stack ms-2 mt-3" data-bs-toggle="tooltip" data-bs-target="#currency-modal" data-bs-original-title="Añadir nueva moneda" style="cursor: pointer">
                                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                            <i class="fa-inverse fa-stack-1x dark__text-white fas fa-plus"></i>
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
    
                            <div class="col-12">
                                {% if not cashregister %}
                                    <button class="btn btn-primary" type="submit">Abrir caja</button>
                                {% else %}
                                    <button class="btn btn-primary" type="submit" disabled>Abrir caja</button>
                                {% endif %}
                            </div>
    
                            {% if form.initial_balance.errors %}
                                <div class="col-12">
                                    <div class="invalid-feedback">{{ form.initial_balance.errors }}</div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ===============================================-->
    <!--   Fin Card con el formulario de la caja-->
    <!-- ===============================================-->


</div>

<!-- ===============================================-->
<!--    Fin Contentenedor del block main-->
<!-- ===============================================-->

<!-- Modal para crear la moneda-->
<div class="modal fade" id="currency-modal" tabindex="-1" aria-labelledby="currency-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="currency-modalLabel">Crear moneda</h5>
            </div>
            <div class="modal-body">
                <form id="currency-form" method="post">
                    {% csrf_token %}
                    <div class="pb-3">
                        <label for="{{ currency_form.name.id_for_label }}" class="form-label">Nombre:</label>
                        {{currency_form.name}}
                    </div>
                    <div class="pb-3">
                        <label for="{{ currency_form.symbol.id_for_label }}" class="form-label">Simbolo:</label>
                        {{currency_form.symbol}}
                    </div>
                    <div class="pb-3">
                        <label for="{{ currency_form.code.id_for_label }}" class="form-label">Codigo:</label>
                        {{currency_form.code}}
                    </div>
                    <!-- Agrega campos y etiquetas del formulario según tus necesidades -->
                    <button class="btn btn-primary" type="button" id="save-currency">Guardar</button>
                    <!-- Fin del formulario de creación de Currency-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-ft-modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>