.notes-container {
    background-color: var(--falcon-300);
    border-radius: 6px;
    color: var(--falcon-dropdown-link-color);
}

.notes {
    border-radius: 5px;
    animation: fadeOut 10s; /* Agregar una animación para desvanecer */
}

.note-label {
    display: inline-block; /* Hace que el div se ajuste al contenido */
}

.note-label p {
    font-size: 0.9rem;
    margin: 0;
}

.close-note-button {
    background-color: transparent;
    border: none;
    color: var(--falcon-secondary);
    cursor: pointer;
    font-size: 1.2rem;
}


/* @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
} */
