<h1>Detalle del Proveedor</h1>
    <p><strong>Nombre:</strong> {{ supplier.name }}</p>
    <p><strong>Teléfono de Contacto:</strong> {{ supplier.phone_number }}</p>
    <p><strong>Correo Electrónico:</strong> {{ supplier.email }}</p>

    <h2>Productos Asociados</h2>
    <ul>
        {% for product_supplier in all_products_suppliers %}
            <li><a href="{% url 'products_app:detail' product_supplier.product.pk %}">{{ product_supplier.product }}</a></li>
        {% empty %}
            <li>No hay productos asociados</li>
        {% endfor %}
    </ul>

    <a href="{% url 'suppliers_app:list' %}">Volver a la lista de proveedores</a>